*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
background-image: url(/photos/bg/background.png);
color: #111;
font-family: 'Terminus', sans-serif;
}
@font-face { font-family: Terminus; src: url('/css/fonts/Terminus.ttf'); } 
@font-face { font-family: Terminus; font-weight: bold; src: url('/css/fonts/Terminus-Bold.ttf');}
@font-face { font-family: Terminus; font-style: italic; src: url('/css/fonts/Terminus-Italic.ttf');}
@font-face { font-family: Terminus; font-weight: bold; font-style: italic; src: url('/css/fonts/Terminus-BoldItalic.ttf');}

.headerwrapper{
display: flex;
flex-direction: column;
margin-bottom: 1rem;
}

.header{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 200px;
background-image: url(/vhs_site-banner.png);
background-repeat: no-repeat;
background-position: center center;
}

.imgHov {
  transition: 0.2s;
}

.imgHov:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.05);
}

.dropbtn {
  background-color: #000;
  color: #8FCC06;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 5px 10px;
  display: block;
}

.dropdown-content a:hover {background-color: grey;}

.dropdown:hover .dropdown-content {display: block;}

.title{
color: #fff;
letter-spacing: 0.2rem;
text-shadow: 0 0 10px #111;
font-family: 'Terminus', sans-serif;
}

.nav{
background-color: #111;
width: 100%;
text-align: center;
padding: 0.5rem 0 0.5rem 0;
}

.nav li:hover{
transition: 0.3s;
transform: scale(1.50);
font-weight:bold;
}

a:not(.nav li){
    font-style:normal;
}
.nav ul{
display: flex;
justify-content: space-around;
}

.nav li{
display: inline;
}

.mainwrapper{
display: flex;
flex-direction: column;
gap: 1rem;
padding: 0 1rem 1rem 1rem;
margin: 0 auto;
max-width: 750px;
}

.box{
background-color: #111;
}

p{
color: #eee;
font-size:17px
}

h1{
color:#ddd
}

h2{
color:#ddd
}

h3{
color:#ddd
}

h4{
color:#ddd
}

h5{
color:#ddd
}

.subheaders{
color: #fff;
font-weight: normal;
font-size: 26px;
background-color: #111;
text-align:center;
}

.content{
padding: 1rem;
display: flex;
flex-direction: column;
gap: 1rem;
}

a{
text-decoration: underline;
color: #ace;
}

a:visited{
color: #fce;
}

#credit a{
text-decoration: none;
background: linear-gradient(90deg, rgba(250,31,193,1) 0%, rgba(29,85,255,1) 25%, rgba(13,246,252,1) 53%, rgba(0,255,102,1) 77%, rgba(251,255,56,1) 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
}

#credit a:visited{
text-decoration: none;
background: linear-gradient(90deg, rgba(250,31,193,1) 0%, rgba(29,85,255,1) 25%, rgba(13,246,252,1) 53%, rgba(0,255,102,1) 77%, rgba(251,255,56,1) 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
}

a:hover{
font-style: italic;
}

a:active{
font-style: italic;
font-weight: bold;
}

.nav a{
color: white;
text-decoration: none;
}

.nav a:visited{
text-decoration: none;
color: white;
}

#credit{
position: fixed;
bottom: 0;
right: 0;
font-size: 12px;
}

::-webkit-scrollbar{
width: 6px; 
}
    
::-webkit-scrollbar-thumb{
background: linear-gradient(180deg, rgba(250,31,193,1) 0%, rgba(29,85,255,1) 25%, rgba(13,246,252,1) 53%, rgba(0,255,102,1) 77%, rgba(251,255,56,1) 100%);
}

::-webkit-scrollbar-track{
background-color: #111;
}

footer {
    border-top: 1px solid #f6dfff;
    font-size: .8em;
}
nav ul, footer ul {
    font-family:'Terminus', Courier, monospace;
    padding: 20px;
    list-style: none;
    font-weight: bold;
    color: white;
}
nav ul li, footer ul li {
    font-family:'Terminus', Courier, monospace;
    display: inline;
    margin-right: 10px;
    color: white;
}
