html {
    overflow-y:scroll;
}

body {
    cursor: url('/default.gif'), default;
    width:80%;
    margin:auto;
    background-image: url('/background.png');
    color:black;
    overflow-wrap: anywhere;
    text-align: center
}

nav ul, footer ul {
    font-family:'Terminus', Courier, monospace;
    padding: 20px;
    list-style: none;
    font-weight: bold;
    color: white;
}
nav ul li, footer ul li {
    font-family:'Terminus', Courier, monospace;
    display: inline;
    margin-right: 20px;
    color: white;
}
a {
    text-decoration: none;
    color:lawngreen;
    cursor: url("/pointer.gif"), pointer;
}
a:hover {
    text-decoration: underline;
    color:pink;
    cursor: url("/pointer.gif"), pointer;
}
h1 {
    font-size: 3em;
    font-family: monospace, 'Helvetica', 'Arial', 'Sans-Serif';
    color: thistle;
}
h2 {
    font-family: monospace, 'Helvetica', 'Arial', 'Sans-Serif';
    color:white;
}
h3 {
    font-family: monospace, 'Helvetica', 'Arial', 'Sans-Serif';
    color:white;
}
h4 {
    font-family: monospace, 'Helvetica', 'Arial', 'Sans-Serif';
    color:white;
}
h5 {
    font-family: monospace, 'Helvetica', 'Arial', 'Sans-Serif';
    color:white;
}
p {
    font-family: 'Terminus', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
code {
    color: palevioletred;
}
footer {
    border-top: 1px solid #f6dfff;
    font-size: .8em;
}
ul.posts {
    font-family:'Terminus', Courier, monospace;
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: white;
}
ul.posts li {
    font-family:'Terminus', Courier, monospace;
    list-style: none;
    color: white;
}
#rcorners {
  border-radius: 25px;
  border: 2px solid #FF69B4;
  padding: 20px;
  width: 50px;
  height: 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
} 
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;  
}
