---
layout: default
title: Hayden White's music recs
---
<style>
* {
  box-sizing: border-box;
}

.center {
display: block;
margin-left: 82px;
margin-right: auto;
}

.center2 {
display: block;
margin-left: 115px;
margin-right: auto;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.imgHov {
  transition: 0.2s;
}

.imgHov:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.05);
	}

body {
background-image: url("/photos/bg/music_background.gif");
background-color: black;
}
</style>

<div class="box">
        <h1 class="subheaders">Hayden White's Music Recommendations</h1>
	<br>
	<p style="color:white;text-align:center;">Below is just a small sample of music I enjoy. It'd take me way too long to put everything; this list was hard enough to narrow down.<br>(For more VGMs, <a href="https://www.virtualgalleria.net/vgfm">check here</a>)<br><b>Click a cover to listen!</b><br>Any links to YouTube will redirect to a list of <a href="https://invidious.io/">Invidious</a> instances.<br>
<small><code>Last updated: Dec 19 2023 | This list will be updated periodically.</code></small></p>
</div></div><br><br>
<div class="box">
<div class="row">
<!-- Group A - Video Game Music -->
	<div class="column">
	<a href="https://downloads.khinsider.com/game-soundtracks/album/asuka-120-final-burning-fest-1999-playstation-gamerip" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a1.jpg" style="width:222px; height:222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/under-night-in-birth-exe-late-st-original-soundtrack" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a2.jpg" style="width:222px; height:222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/legend-of-marisa-original-soundtrack-2011" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a3.jpg" style="width:222px; height:222px"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/neon-white-ost-1-the-wicked-heart" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a4.jpg" style="width:222px; height:222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/touhou-swing-holic-vol.-04" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a5.jpg" style="width:222px; height:222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=gSMK7b7DLrE" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/metropolis-street-racer-dc-rip" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/fallout-3-galaxy-news-radio" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/melty-blood-act-cadenza-ver.b-bgm-collection" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_a9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
<!-- Group B - Hip-Hop/Rap -->
	<div class="column">
	<a href="https://soundcloud.com/earlxsweatshirtmusic/sets/some-rap-songs-1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b1.jpg" style="width:222px; height:222px;"></a>
	<a href="https://mikelikesrap.bandcamp.com/album/weight-of-the-world" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b2.jpg" style="width:222px; height:222px;"></a>
	<a href="https://archive.org/details/cannibal-ox-the-cold-vein" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://mfdoom.bandcamp.com/album/doom-born-like-this-repress-2" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b4.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=nWqNXuQCaWo" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b5.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://jpegmafia.bandcamp.com/album/scaring-the-hoes" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://kinggeedorah.bandcamp.com/album/take-me-to-your-leader" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://elserenorecords.bandcamp.com/album/greatest-hits-esr012" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://archive.org/details/ffachive" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_b9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
<!-- Group C - Visual Novels -->
	<div class="column">
	<a href="https://downloads.khinsider.com/game-soundtracks/album/white-album-tsuzurareru-fuyu-no-omoide-original-soundtrack" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c1.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/white-album-2-original-soundtrack-kazusa" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c2.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/rewrite-original-soundtrack" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/love-story-angel-note/05%2520-%2520innocent%2520~%2520Remix%2520Version.mp3" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c4.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/ichou-no-maukoro-2-original-sound-track" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c5.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/l-no-kisetsu-the-season-of-l-a-piece-of-memories" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/aster-complete-tracks-plus" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/if-my-heart-had-wings" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/after...-bgm-collection" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_c9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
<!-- Group D - Drum n Bass -->
	<div class="column">
	<a href="https://venetiansnares.bandcamp.com/album/my-so-called-life" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d1.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://deathbysheeprecords.bandcamp.com/album/singularity-fallout" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d2.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://burial.bandcamp.com/album/burial-street-halo-hdb013" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://soundcloud.com/dissolve4/sets/neko-garage" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d4.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://dissolve3.bandcamp.com/track/b-with-xtc" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d5.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=OqhNndVrOxI" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=dkcXLdErjMw" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://onemoreslice.bandcamp.com/album/a-thousand-years-of-bliss" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://machinegirl.bandcamp.com/album/reporpoised-phantasies" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_d9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
<!-- Group E - Jazzy stuff-->
	<div class="column">
	<a href="https://odysee.com/@TerminalPassage:c/spyro-gyra-carnaval-1980:f" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e1.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://odysee.com/@TerminalPassage:c/synthesis-synthesis-1976:c" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e2.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://odysee.com/@TerminalPassage:c/the-chris-hinze-combination-%E2%80%93-bamboo:1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/playlist?list=PLdCzHSDd0DisiHRC-Sq3ArNWaaOGZPUK2" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e4.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://odysee.com/@TerminalPassage:c/spin-spin-(1976-hq):5" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e5.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://billevans.bandcamp.com/album/portrait-in-jazz" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://www.milesdavis.com/albums/the-complete-bitches-brew-sessions/" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=tef1VcCXPT4" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=1uAzhwW4J5U" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_e9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
<!-- Group F - Vaporwave -->
	<div class="column">
	<a href="https://sicrecords.bandcamp.com/album/destine" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f1.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://vektroid.bandcamp.com/album/nextcentury" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f2.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://vektroid.bandcamp.com/album/new-dreams-ltd" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://archive.org/details/eccojams" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f4.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://vektroid.bandcamp.com/album/shader-complete" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f5.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://saintpepsi.bandcamp.com/album/empire-building" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://vestigevapor.bandcamp.com/album/feeling-good" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://businesscasual87.bandcamp.com/album/sun-sea-and-surfing" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://archive.org/details/fujigridtv-prismgenesis" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_f9.jpg" style="width: 222px; height: 222px;"></a>
</div>
<!-- Group G - Japanese Stuff -->
	<div class="column">
	<a href="https://redirect.invidious.io/watch?v=o1rclw8Rugs" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g1.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://archive.org/details/anri-timely" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g2.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=98fqXx-KFgI" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://atarashiigakko.lnk.to/maenarawanaiWE" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g4.jpg" style="width:222px; height:222px;"></a>
	<a href="https://atarashiigakko.lnk.to/wakagegaitaruWE" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g5.jpg" style="width:222px; height:222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=pYwwxbkooug" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://archive.org/details/junko-yagami-full-moon" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://momokokikuchi.bandcamp.com/album/adventure" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=RUQykAzdhB0&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_g9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
<!-- Group H - Anime OP/ED -->
	<div class="column">
	<a href="https://redirect.invidious.io/watch?v=STU6SY9jTGc&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h1.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=zd2ihnFfog8&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h2.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=-vbKabIRv9U" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=xDbWmWPmR7c&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h4.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=clzo3uX7lPY" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h5.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=cliz7c9PXqk" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=d1yiX-qJLBo&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=AMY0ryspqQ8&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://downloads.khinsider.com/game-soundtracks/album/yu-yu-hakusho-original-soundtrack-1/01%2520-%2520hohoemi%2520no%2520bakudan.mp3" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_h9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
<!-- Group I - Weird Stuff -->
<div class="column">
	<a href="https://morganagren.bandcamp.com/album/on-air-with-guests-2001" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i1.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://archive.org/details/out_to_lunch" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i2.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=KRH3GwmyWPg&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://spookeyruben.bandcamp.com/album/modes-of-transportation-vol-1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i4.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/playlist?list=PLdh2hUOE5Xd-48FLSIjuEnwIX8gyw_byO" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i5.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://odysee.com/@TerminalPassage:c/ryo-kawasaki-ring-toss-1977:1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://machinegirl.bandcamp.com/album/because-im-young-arrogant-and-hate-everything-you-stand-for" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://undokfromhot.bandcamp.com/album/g-a-s-get-a-star" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://therahband.bandcamp.com/album/going-up" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_i9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
<!-- Group J - Mixed Bag (theres still so much more I want to put it's bad) -->
<div class="column">
	<a href="https://redirect.invidious.io/watch?v=pJmhUCcmoLk" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j1.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://kokoroko.bandcamp.com/album/could-we-be-more" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j2.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=D13Py6YHeg8" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j3.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=iV6_l6P7LjY&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j4.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://odysee.com/@TerminalPassage:c/patrice-rushen-prelusion-1974:7" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j5.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=MMnwrrV2mVw&listen=1" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j6.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://machinegirl.bandcamp.com/album/the-ugly-art" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j7.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://redirect.invidious.io/watch?v=1IgKYf_PRBA" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j8.jpg" style="width: 222px; height: 222px;"></a>
	<a href="https://moodymann.bandcamp.com/track/wednesday-night-people" target="_blank" rel="noopener noreferrer"><img class="imgHov" src="/photos/musicrecs/cover_j9.jpg" style="width: 222px; height: 222px;"></a>
	</div>
</div></div>
<div class="mainwrapper">
<p style="color:white;text-align:center;"><small>If you have any recommendations you'd like to share, <a href="/contact">contact me!</a></small></p>
