---
layout: photos
title: Hayden White's Photos

---

<style>
.flex {
display: flex;
flex-flow: row wrap;
justify-content: center;
}

.flex-small-gap {
gap: 4px;
}

.bottonu img {
width: 400px;
height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h1 class="subheaders">Hayden White's Photography Archive</h1>
<br/>
<p style="color:white;text-align:center;">This is a collection of photographs I've taken over the years. Free to use/share/modify.<br/>
You can view the <a href="/photos/archive">full archive here</a>.</p><br/>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0801.jpg" />
<img src="/photos/0318.jpg" />
<img src="/photos/0484.jpg" />
<img src="/photos/1368.jpg" />
<img src="/photos/0494.jpg" />
<img src="/photos/0543.jpg" />
<img src="/photos/1834.jpg" />
<img src="/photos/0850.jpg" />
</div>
