---
layout: photos
title: Hayden White's photo archive - 12/2018

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201811"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201901">Next >></a></p>
<p style="color:lime; text-align:center;">December 2018</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2482.jpg">
<img src="/photos/2483.jpg">
<img src="/photos/2484.jpg">
<img src="/photos/2485.jpg">
<img src="/photos/2486.jpg">
<img src="/photos/2487.jpg">
<img src="/photos/2488.jpg">
<img src="/photos/2489.jpg">
<img src="/photos/2490.jpg">
<img src="/photos/2491.jpg">
<img src="/photos/2492.jpg">
<img src="/photos/2493.jpg">
<img src="/photos/2494.jpg">
<img src="/photos/2495.jpg">
<img src="/photos/2496.jpg">
<img src="/photos/2497.jpg">
<img src="/photos/2498.jpg">
<img src="/photos/2499.jpg">
<img src="/photos/2500.jpg">
<img src="/photos/2501.jpg">
<img src="/photos/2502.jpg">
<img src="/photos/2503.jpg">
<img src="/photos/2504.jpg">
</div>
<a href="/photos/archive/201811"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201901">Next >></a></p>

