---
layout: photos
title: Hayden White's photo archive - 06/2018

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201805"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201807">Next >></a></p>
<p style="color:lime; text-align:center;">June 2018</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2277.jpg" />
<img src="/photos/2278.jpg" />
<img src="/photos/2279.jpg" />
<img src="/photos/2280.jpg" />
<img src="/photos/2281.jpg" />
<img src="/photos/2282.jpg" />
<img src="/photos/2283.jpg" />
<img src="/photos/2284.jpg" />
<img src="/photos/2285.jpg" />
<img src="/photos/2286.jpg" />
<img src="/photos/2287.jpg" />
<img src="/photos/2288.jpg" />
<img src="/photos/2289.jpg" />
<img src="/photos/2290.jpg" />
<img src="/photos/2291.jpg" />
<img src="/photos/2292.jpg" />
<img src="/photos/2293.jpg" />
<img src="/photos/2294.jpg" />
<img src="/photos/2295.jpg" />
<img src="/photos/2296.jpg" />
<img src="/photos/2297.jpg" />
<img src="/photos/2298.jpg" />
<img src="/photos/2299.jpg" />
<img src="/photos/2300.jpg" />
<img src="/photos/2301.jpg" />
<img src="/photos/2302.jpg" />
<img src="/photos/2304.jpg" />
<img src="/photos/2305.jpg" />
</div>
<a href="/photos/archive/201805"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201807">Next >></a></p>

