---
layout: photos
title: Hayden White's photo archive - 06/2016

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201605"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201607">Next >></a></p>
<p style="color:lime; text-align:center;">June 2016</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0800.jpg">
<img src="/photos/0801.jpg">
<img src="/photos/0802.jpg">
<img src="/photos/0803.jpg">
<img src="/photos/0804.jpg">
<img src="/photos/0805.jpg">
<img src="/photos/0806.jpg">
<img src="/photos/0807.jpg">
<img src="/photos/0808.jpg">
<img src="/photos/0809.jpg">
<img src="/photos/0810.jpg">
<img src="/photos/0811.jpg">
<img src="/photos/0812.jpg">
<img src="/photos/0813.jpg">
<img src="/photos/0814.jpg">
<img src="/photos/0815.jpg">
<img src="/photos/0816.jpg">
<img src="/photos/0817.jpg">
<img src="/photos/0818.jpg">
<img src="/photos/0819.jpg">
<img src="/photos/0820.jpg">
<img src="/photos/0821.jpg">
<img src="/photos/0822.jpg">
<img src="/photos/0823.jpg">
<img src="/photos/0824.jpg">
<img src="/photos/0825.jpg">
<img src="/photos/0826.jpg">
<img src="/photos/0827.jpg">
<img src="/photos/0828.jpg">
<img src="/photos/0829.jpg">
<img src="/photos/0830.jpg">
<img src="/photos/0831.jpg">
<img src="/photos/0832.jpg">
<img src="/photos/0833.jpg">
<img src="/photos/0834.jpg">
<img src="/photos/0835.jpg">
<img src="/photos/0836.jpg">
<img src="/photos/0837.jpg">
<img src="/photos/0838.jpg">
<img src="/photos/0839.jpg">
<img src="/photos/0840.jpg">
<img src="/photos/0841.jpg">
<img src="/photos/0842.jpg">
<img src="/photos/0843.jpg">
<img src="/photos/0844.jpg">
<img src="/photos/0845.jpg">
<img src="/photos/0846.jpg">
<img src="/photos/0847.jpg">
<img src="/photos/0848.jpg">
<img src="/photos/0849.jpg">
</div>
<a href="/photos/archive/201605"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201607">Next >></a></p>

