---
layout: photos
title: Hayden White's photo archive - 09/2019

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201908"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201910">Next >></a></p>
<p style="color:lime; text-align:center;">September 2019</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2607.jpg" />
<img src="/photos/2608.jpg" />
<img src="/photos/2609.jpg" />
<img src="/photos/2610.jpg" />
<img src="/photos/2611.jpg" />
<img src="/photos/2612.jpg" />
<img src="/photos/2613.jpg" />
<img src="/photos/2614.jpg" />
<img src="/photos/2615.jpg" />
</div>
<a href="/photos/archive/201908"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201910">Next >></a></p>

