---
layout: photos
title: Hayden White's photo archive - 09/2013
---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<p style="text-align:center;"></a><a href="/photos/archive/201304"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201409">Next >></a></p>
<p style="color:lime; text-align:center;">September 2013</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0009.jpg" />
<img src="/photos/0010.jpg" />
<img src="/photos/0011.jpg" />
<img src="/photos/0012.jpg" />
</div>
<p style="text-align:center;"></a><a href="/photos/archive/201304"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201409">Next >></a></p>
