---
layout: photos
title: Hayden White's photo archive - 12/2015

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201511"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201601">Next >></a></p>
<p style="color:lime; text-align:center;">December 2015</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0368.jpg">
<img src="/photos/0369.jpg">
<img src="/photos/0370.jpg">
<img src="/photos/0371.jpg">
<img src="/photos/0372.jpg">
<img src="/photos/0373.jpg">
<img src="/photos/0374.jpg">
<img src="/photos/0375.jpg">
<img src="/photos/0376.jpg">
<img src="/photos/0377.jpg">
<img src="/photos/0378.jpg">
<img src="/photos/0379.jpg">
<img src="/photos/0380.jpg">
<img src="/photos/0381.jpg">
<img src="/photos/0382.jpg">
<img src="/photos/0383.jpg">
<img src="/photos/0384.jpg">
<img src="/photos/0385.jpg">
<img src="/photos/0386.jpg">
<img src="/photos/0387.jpg">
<img src="/photos/0388.jpg">
<img src="/photos/0389.jpg">
<img src="/photos/0390.jpg">
<img src="/photos/0391.jpg">
<img src="/photos/0392.jpg">
<img src="/photos/0393.jpg">
<img src="/photos/0394.jpg">
<img src="/photos/0395.jpg">
<img src="/photos/0396.jpg">
<img src="/photos/0397.jpg">
<img src="/photos/0398.jpg">
<img src="/photos/0399.jpg">
<img src="/photos/0401.jpg">
<img src="/photos/0402.jpg">
<img src="/photos/0403.jpg">
<img src="/photos/0404.jpg">
<img src="/photos/0405.jpg">
<img src="/photos/0406.jpg">
<img src="/photos/0407.jpg">
<img src="/photos/0408.jpg">
<img src="/photos/0409.jpg">
<img src="/photos/0410.jpg">
<img src="/photos/0411.jpg">
<img src="/photos/0412.jpg">
<img src="/photos/0413.jpg">
<img src="/photos/0414.jpg">
<img src="/photos/0415.jpg">
<img src="/photos/0416.jpg">
<img src="/photos/0417.jpg">
<img src="/photos/0418.jpg">
<img src="/photos/0419.jpg">
<img src="/photos/0420.jpg">
<img src="/photos/0421.jpg">
<img src="/photos/0422.jpg">
<img src="/photos/0423.jpg">
<img src="/photos/0424.jpg">
<img src="/photos/0425.jpg">
<img src="/photos/0426.jpg">
<img src="/photos/0427.jpg">
<img src="/photos/0428.jpg">
<img src="/photos/0429.jpg">
<img src="/photos/0430.jpg">
<img src="/photos/0431.jpg">
<img src="/photos/0432.jpg">
<img src="/photos/0433.jpg">
<img src="/photos/0434.jpg">


</div>
<a href="/photos/archive/201511"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201601">Next >></a></p>

