---
layout: default
title: Netizens Unite!
---
<style>
@media only screen and (max-width: 800px) {
body{
background-image: url('/background.png')
}}
body {
background-attachment: fixed;
background-size: cover;
}
.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.flex-small-gap {
	gap: 4px;
}
.bottoni img {
	image-rendering: pixelated;
	width: 88px;
	height: 31px;
}
</style>
<h2 class="subheaders" id="buttons" style="text-align: center;">Web Button Wall</h2>
<p style="color:white;text-align:center;">Each button represents a fellow netizen. Click on one and <b>have fun surfing the web!</b></p>
  <h2 style="text-align:center;" class="subheaders" id="mybutton">My Buttons</h2>
  <p style="text-align:center">You can use these buttons to link back to my sites. <b>Avoid hotlinking</b> if you can.</p>
  <div class="flex flex-small-gap bottoni">
<a href="https://whitevhs.xyz" target="_blank"><img src="/whiteVHS.gif" alt="whitevhs.xyz" title="whiteVHS"></a>
<a href="https://whitevhs.xyz" target="_blank"><img src="/whiteVHS_tape.gif" alt="whitevhs.xyz" title="whiteVHS"></a>
<a href="https://kaarbs.xyz/" target="_blank"><img src="/buttons/kaarbs.gif" alt="KAARBS" title="Kojiro's Automated Arch Ricing Bash Script"></a>
<a href="https://cult9.xyz" target="_blank"><img src="/buttons/cult9.gif" alt="CULT9" title="CULT9"></a>
<a href="https://whitevhs.xyz/undo" target="_blank"><img src="/buttons/undo.gif" alt="UNDO" title="UNDO"></a>
<a href="https://www.virtualgalleria.net" target="_blank"><img src="/buttons/vg.gif" alt="virtualgalleria.net" title="VIRTUAL GALLERIA DOT NET"></a>
  </div>
<h2 style="text-align: center;" class="subheaders" id="frens">Friends/Affiliates</h2>
<div class="flex flex-small-gap bottoni">
 <a href="https://forum.agoraroad.com" target="_blank"><img src="/buttons/agoraroad.gif" title="Agora Road"></a>
 <a href="https://voicedrew.xyz" target="_blank"><img src="/buttons/voicedrew.gif" title="Voicedrew"></a>
 <a href="https://myyolo1999.blogspot.com/" target="_blank"><img src="/buttons/sp.jpg" title="Some Porcupine"></a>
 <a href="https://blog.shr4pnel.com" target="_blank"><img src="/buttons/blogbutton.gif" alt="blog.shr4pnel.com blog button. has a little animated cat called mauzy on it" title="Shr4pnel"></a>
 <a href="https://foreverliketh.is" target="_blank"><img src="/buttons/foreverlikethis.png" title="Nothing Lasts Forever"></a>
 <a href="https://tilde.team/~zinricky/" target="_blank"><img src="https://zinricky.tilde.team/assets/buttons/zinbutton.png" alt="ZinRicky" title="ZinRicky"></a>
 <a href="https://freckleskies.neocities.org" target="_blank"><img src="/buttons/skybutton.gif" alt="Freckleskies" title="Freckleskies" /></a>
</div>
<br>
<h2 style="text-align: center;" class="subheaders" id="coolsites">Other Cool Sites!</h2>
<div class="flex flex-small-gap bottoni">
 <a href="https://h00.neocities.org" target="_blank" rel="noopener"><img src="/buttons/h00.png" title="h00s Place"></a>
 <a href="https://sizeof.cat/" target="_blank" rel="noopener"><img src="https://sizeof.cat/img/sizeofcat-88x31-black.jpg" title="Sizeofcat"></a>
 <a href="https://japanification.neocities.org" target="_blank" rel="noopener"><img src="/buttons/japanification.png" title="Japanification"></a>
 <a href="https://dorgon.neocities.org/siteportal" target="_blank" rel="noopener"><img src="/buttons/dorgon.gif" title="Dorgon"></a>
 <a href="https://dokodemo.neocities.org" target="_blank" rel="noopener"><img src="/buttons/dokodemo.gif" title="Dokodemo"></a>
 <a href="https://wiby.me" target="_blank" rel="noopener"><img src="/buttons/wiby.gif" title="Wiby Search Engine"></a>
 <a href="https://risingthumb.xyz" target="_blank" rel="noopener"><img src="/buttons/risingthumb.png" title="Rising Thumb"></a>
 <a href="https://i330.dev" target="_blank" rel="noopener"><img src="/buttons/i330.gif" title="i-330"></a>
 <a href="https://digitalcheese.xyz" target="_blank" rel="noopener"><img src="/buttons/dcblog.gif" title="DC's Blog"></a>
 <a href="http://yuiui.moe/" target="_blank" rel="noopener"><img src="http://yuiui.moe/img/button.png" title="Yuiui"></a>
 <a href="https://walrus-island.neocities.org/" target="_blank" rel="noopener"><img alt="Walrus Island" src="https://walrus-island.neocities.org/images/WalrusIslandBanner.gif" title="Walrus Island"></a>
 <a href="https://wkyk.neocities.org/" target="_blank" rel="noopener"><img src="https://wkyk.neocities.org/img/wkyk.gif" title="WKYK"></a>
 <a href="https://no56.neocities.org" target="_blank" rel="noopener"><img alt="№56" src="https://no56.neocities.org/img/button.png" title="No56"></a>
 <a href="https://youtuube.neocities.org/" target="_blank" rel="noopener"><img alt="Youtuube button" src="https://youtuube.neocities.org/youtuube88x31.gif" title="Youtuube"></a>
 <a href="https://dimwit.neocities.org" target="_blank" rel="noopener"><img src="https://dimwit.neocities.org/img/btn/dim-btn.gif" alt="Dimwit" title="Dimwit"></a>
 <a href="https://koshka.love" target="_blank" rel="noopener"><img src="https://koshka.love/Koshkabutton.gif" alt="Koshka's Kingdom" title="Koshka's Kingdom"></a>
 <a href="https://darebee.com" target="_blank" rel="noopener"><img src="/buttons/darebee.png" alt="Darebee" title="Darebee"></a>
 <a href="https://store.steampowered.com/app/1490060/Disillusion/" target="_blank" rel="noopener"><img src="/buttons/disillusion.gif" alt="Disillusion" title="Disillusion"></a>
 <a href="https://digdeeper.club" target="_blank" rel="noopener"><img src="/buttons/dig_deeper.png" title="Dig Deeper"></a>
 <a href="https://radio.mocrd.org/" target="_blank" rel="noopener"><img src="/buttons/agoraradio.png" title="Agora Radio"></a>
 <a href="https://itapun.bearblog.dev" target="_blank" rel="noopener"><img src="https://itapun.neocities.org/itapun-button.gif" alt="Itapun" title="Itapun"></a>
 <a href="https://idelides.xyz/" target="_blank" rel="noopener"><img src="/buttons/idelides.png" alt="Idelides" title="Idelides"></a>
 <a href="https://genosadness.neocities.org" target="_blank" rel="noopener"><img src="/buttons/genobot.png" alt="GENOSAD" title="GENOSAD"></a>
 <a href="https://argusarts.com" target="_blank" rel="noopener"><img src="/buttons/argus.png" alt="Argus Arts" title="Argus Arts"></a>
 <a href="https://maerk.xyz" target="_blank" rel="noopener"><img src="/buttons/maerk.png" alt="Maerk" title="Maerk"></a>
 <a href="https://cidoku.net" target="_blank" rel="noopener"><img src="/buttons/cidokunet.gif" alt="Cidoku" title="Cidoku"></a>
 <a href="http://www.prints.pink/~RabbitDreamRealm" target="_blank" rel="noopener"><img src="/buttons/lf.gif" alt="Lunatic Phantasy" title="Reptid"></a>
 <a href="https://www.cozynet.org/homepage/" target="_blank" rel="noopener"><img src="/buttons/cozynet.gif" alt="CozyNet" title="CozyNet"></a>
 <a href="https://wiishopchannel.net/" target="_blank" rel="noopener"><img src="/buttons/wiishop.gif" alt="Wii Shop Channel" title="Wii Shop Channel"></a>
 <a href="https://99gifshop.neocities.org" target="_blank" rel="noopener"><img src="/buttons/99gif.png" alt="99 GIF Shop" title="99 GIF Shop"></a>
 <a href="https://repth.neocities.org" target="_blank" rel="noopener"><img src="/buttons/repth.png" alt="REPTH" title="Repth"></a>
 <a href="https://based.cooking" target="_blank" rel="noopener"><img src="/buttons/basedcooking.gif" alt="Based Cooking" title="Based Cooking"></a>
 <a href="https://landchad.net" target="_blank" rel="noopener"><img src="/buttons/landchad.gif" alt="Land Chad" title="Land Chad"></a>
 <a href="https://cyuucat.moe" target="_blank" rel="noopener"><img src="/buttons/cyuu.gif" alt="Cyuucat" title="Cyuucat"></a>
 <a href="https://bikobatanari.art/" target="_blank" rel="noopener"><img src="/buttons/biko.png" alt="Biko" title="Bikobatanari"></a>
 <a href="https://lhfm.neocities.org/" target="_blank" rel="noopener"><img src="/buttons/hifumi.png" alt="Hifumi" title="Literally Hifumi"></a>
 <a href="https://omnipresence.neocities.org/" target="_blank" rel="noopener"><img src="/buttons/omnibutton.gif" alt="OMNI" title="OMNI"></a>
 <a href="https://joelchrono12.xyz/" target="_blank" rel="noopener"><img src="/buttons/joelchrono12.xyz.gif" alt="JoelChrono" title="JoelChrono"></a>
 <a href="https://cheapskatesguide.org/" target="_blank" rel="noopener"><img src="/buttons/cheapskate.png" alt="Cheapskates Guide" title="Cheapskates Guide"></a>
<a href="https://psychcool.neocities.org/" target="_blank" rel="noopener"><img src="/buttons/PsychcoolButton.png" alt="Psychcool" title="Psychcool"></a>
<a href="https://spyware.neocities.org/" target="_blank" rel="noopener"><img src="/buttons/spyware.png" alt="Spyware Watchdog" title="Spyware Watchdog"></a>
<a href="https://ootmm.com/" target="_blank" rel="noopener"><img src="/buttons/ootmm.png" alt="OoT x MM Randomizer" title="OoT x MM"></a>
<a href="https://getimiskon.xyz/" target="_blank" rel="noopener"><img src="/buttons/getimiskon.xyz.png" alt="Getimiskon's Place" title="getimiskon.xyz"></a>
</div>
<p style="color:white;text-align:center;"> This list will be updated frequently.<br>If you would like your button added (or removed) send me an <a href="mailto:contact@whitevhs.xyz">email</a>.</p>
