---
layout: photos
title: Hayden White's photo archive - 09/2018
---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201808"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201810">Next >></a></p>
<p style="color:lime; text-align:center;">September 2018</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2411.jpg" />
<img src="/photos/2412.jpg" />
<img src="/photos/2413.jpg" />
<img src="/photos/2414.jpg" />
<img src="/photos/2415.jpg" />
<img src="/photos/2416.jpg" />
<img src="/photos/2417.jpg" />
<img src="/photos/2418.jpg" />
<img src="/photos/2419.jpg" />
<img src="/photos/2420.jpg" />
<img src="/photos/2421.jpg" />
<img src="/photos/2422.jpg" />
<img src="/photos/2423.jpg" />
<img src="/photos/2424.jpg" />
<img src="/photos/2425.jpg" />
<img src="/photos/2426.jpg" />
<img src="/photos/2427.jpg" />
<img src="/photos/2428.jpg" />
<img src="/photos/2429.jpg" />
<img src="/photos/2430.jpg" />
<img src="/photos/2431.jpg" />
<img src="/photos/2432.jpg" />
<img src="/photos/2433.jpg" />
<img src="/photos/2434.jpg" />
<img src="/photos/2435.jpg" />
<img src="/photos/2436.jpg" />
<img src="/photos/2437.jpg" />
<img src="/photos/2438.jpg" />
<img src="/photos/2439.jpg" />
</div>
<a href="/photos/archive/201808"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201810">Next >></a></p>

