---
layout: default
title: 404'd!
---
<style>
body{
background-image: url('');
background-color:black;
}
</style>
<a href="/"><img src="/404.gif"></a>
<p style="text-align:center">The page you're looking for doesn't exist, silly!</p>
