---
layout: default
title: Happy Hacking!
---
<style>
@media only screen and (max-width: 800px) {
body{
background-image: url('/background.png')
}}
body {
background-attachment: fixed;
background-size: cover;
}

.text-with-bg {
display: inline;
padding: 10px 20px;
background-image: url('/photos/bg/matrix.gif');
background-size: cover;
background-attachment: fixed;
color: white;
font-size: 26px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px white;
}
</style>
<div class="text-with-bg">
<h1>SOFTWARE FREEDOM IS HUMAN FREEDOM</h1>
</div>
<div class="box">
<h3 class="subheaders">Hayden White's Personal Site</h3>
<div class="content">
<p style="text-align:center;">Welcome to my little corner of the World Wide Web.<br>
If you haven't already, you can <a href="/articles/2023/08/29/personal-websites">claim your own corner too</a>.</p>
<a style="display:flex;justify-content:center;" href="https://info.cern.ch/"><img src="/photos/header/www.gif" alt="World Wide Web"></a>
<p style="text-align:center"><br>I decided to leave the walled gardens of social media and tend to my own digital garden; my haven of expression and tinkering. Everything from <a href="/microblog">what I'm up to</a> and <a href="/now">what I'm focused on</a> can be found here; you'll also find my various creations, whether it be in the form of <a href="/kaarbs" target="_blank">simple software</a> or <a href="/music">auditory</a> and <a href="/undo/#art">visual</a> mediums. <a href="/sitemap">Take a look around</a> and enjoy your stay. Once you've had enough of my <a href="/articles">mundane ramblings</a>, check out <a href="/buttons">some other cool sites</a> on the web. Feel free to <a href="/contact">say hi</a>!</p>
</div>
</div>

<!-- BOX 2 -->
<div class="box">
<h3 class="subheaders">Latest Music</h3>
<div class="content">
<iframe style="border: 0; margin: auto; height:400px;" loading="lazy" src="https://music.whitevhs.xyz/lost-found/embed/1/index.html" title="Audio player widget for the track &quot;lost+found&quot;">
</iframe>
<p style="text-align:center;"><a href="/music"><small>More music...</small></a></p>
</div>
</div>

<!-- BOX 3 -->
<div class="box">
<h3 class="subheaders">Latest Articles</h3>
<div class="content">
<a href="https://whitevhs.xyz/articles/atom.xml"><img class="imgHov" src="/rss.png" style="display:block;margin:auto" title="Copy the link for my RSS feed!"></a>
<ul style="font-size:110%;">
<li style="color:black;"><code style="color:pink;">14 Sep 2024</code> - <a href="/articles/2024/09/14/fedi">What is the Fediverse?</a></li>
<li style="color:black;"><code style="color:pink;">08 Jul 2024</code> - <a href="/articles/2024/07/08/self-hosting-arc">Self Hosting Arc</a></li>
<li style="color:black;"><code style="color:pink;">13 May 2024</code> - <a href="/articles/2024/05/13/website-workflow">My Website Workflow</a></li>
  </ul>
<p style="text-align:center;"><a href="/articles"><small>More articles...</small></a> | <a href="/microblog"><small>Microblog</small></a></p>
</div>
</div>

<!-- BOX 4 -->
<div class="box">
<h3 class="subheaders">Web Frens</h3>
<div class="content">
<p style="text-align:center"><small>Add the code below to your website to link to my 88x31 button!<br>
</p><pre style="overflow:scroll;"><code style="color:pink;">&lt;a href="https://whitevhs.xyz/" target="_blank"&gt;&lt;img alt="white VHS" src="https://whitevhs.xyz/whiteVHS.gif" title="white VHS" /&gt;&lt;/a&gt;</code><br><br></pre></small><p></p>
<p style="text-align:center;"><small><a href="/buttons">More cool sites...</a></small></p>
</div>
</div>
