---
layout: photos
title: Hayden White's photo archive - 06/2019

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201905"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201907">Next >></a></p>
<p style="color:lime; text-align:center;">June 2019</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2580.jpg" />
<img src="/photos/2581.jpg" />
<img src="/photos/2582.jpg" />
<img src="/photos/2583.jpg" />
<img src="/photos/2584.jpg" />
<img src="/photos/2585.jpg" />
<img src="/photos/2586.jpg" />
<img src="/photos/2587.jpg" />
<img src="/photos/2588.jpg" />
<img src="/photos/2589.jpg" />
<img src="/photos/2590.jpg" />
<img src="/photos/2591.jpg" />
<img src="/photos/2592.jpg" />
</div>
<a href="/photos/archive/201905"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201907">Next >></a></p>

