---
layout: photos
title: Hayden White's photo archive - 09/2020

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/202008"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/202011">Next >></a></p>
<p style="color:lime; text-align:center;">September 2020</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2646.jpg" />
<img src="/photos/2647.jpg" />
<img src="/photos/2648.jpg" />
<img src="/photos/2649.jpg" />
<img src="/photos/2650.jpg" />
</div>
<a href="/photos/archive/202008"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/202011">Next >></a></p>

