---
layout: photos
title: Hayden White's photo archive - 11/2014
---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201410"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201412">Next >></a></p>
<p style="color:lime; text-align:center;">November 2014</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0027.jpg" />
</div>
<a href="/photos/archive/201410"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201412">Next >></a></p>

