---
layout: default
title: Contact whiteVHS
---
<style>
@media only screen and (max-width: 800px) {
body{
background-image: url('/background.png')
}}
body {
background-attachment: fixed;
background-size: cover;
}
</style>
<div class="box">  
<h1 class="subheaders"><b>Contact Me</b></h1>
<h3 style="text-align:center;">Have a question or suggestion? Just want to chat?<br>Feel free to contact me.</h3><br>
<h2 class="subheaders">Email</h2>
  <p style="text-align:center;">contact [at] whitevhs [dot] xyz | <a href="/pubkey" target="_blank">My PGP key</a></p>
  <details style="text-align:center;color:yellow">
  <summary style="color:white;text-align:center;"><b><ins>Fingerprint</ins></b></summary>
  <code>bc3a ac77 d977 713f d3e1 f8bd af0a 4b92 ed95 9592</code>
  </details><br>
<h2 class="subheaders">Signal</h2>
<p style="text-align:center;">kojiro.64</p>
<br>
<h2 class="subheaders">Where to find me</h2>
  <p style="text-align:center;"><a href="https://wheretofind.me/@whiteVHS" target="_blank">wheretofind [dot] me [slash] [at] whiteVHS</a></p><br>
  <p style="text-align:center;"><b>I am <ins>NOT</ins> on Facebook, Instagram, Twitter, YouTube, TikTok, Reddit, Discord or any other shitty "Big Tech" site.</b></p>
  <img style="display:block;margin:auto;" src="/buttons/leave-social-media.gif"/>
  </div>
