---
layout: photos
title: Hayden White's photo archive - 01/2015

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201412"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201502">Next >></a></p>
<p style="color:lime; text-align:center;">January 2015</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0031.jpg" />
<img src="/photos/0032.jpg" />
<img src="/photos/0033.jpg" />
<img src="/photos/0034.jpg" />
<img src="/photos/0035.jpg" />
<img src="/photos/0036.jpg" />
<img src="/photos/0037.jpg" />
<img src="/photos/0038.jpg" />
<img src="/photos/0039.jpg" />
</div>
<a href="/photos/archive/201412"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201502">Next >></a></p>

