---
layout: default
title: whiteVHS NOW!
---
<style>
body{
background-image: url('/photos/bg/about_background.gif');
background-color: black;
}
</style>
<div class="box">
<h3 class="subheaders">What I'm Doing Now</h3>
<p style="color:pink;text-align:center"><small>Last updated Jan 17 2025</small></p>
<p style="color:white">
Hitting the gym to stay in shape during the winter months.<br>
Studying to get CompTIA certs.<br>
In the meantime, I'm working a job I surprisingly don't mind; that's rare.<br>
Frequently <a href="https://live.whitevhs.xyz">livestreaming</a> some vidya games.<br>
Working on a sequel to my debut white VHS album.<br>
Weekly band practices with a couple different groups. Playing drums for both.<br>
Running and maintaining over a dozen services available at <code>cult9 dot xyz slash list</code>.<br>
Taking advantage of a 2025 monthly planner book I bought for a dollar. Gotta keep organized, yo!<br>
</p>
<br>
</p><br><br>
<p style="text-align:center"><small>Inspired by <a href="https://nownownow.com/about" target="_blank" rel="noreferrer noopener">nownownow</a> made by <a href="https://sive.rs/nowff" target="_blank" rel="noreferrer noopener">Derek Sivers</a>.</small>
</p>
</div>
