---
layout: default
title: Be Based.
---
<style>
@media only screen and (max-width: 800px) {
body{
background-image: url('/background.png');
}}
body {
background-attachment: fixed;
background-size: cover;
}
</style>
<img style="justify-content:center;" src="/photos/header/system32.gif" title=":^)">
<div class="box">
     <h1 class="subheaders">Be Based.</h1>
<br>
  <h2 style="text-align:center;" id="privacy"><b>Privacy</b></h2>
  
<p style="text-align:center;color:white">Fight for online privacy and open web standards. Fight against monopolistic practices and the normalization of surveillance capitalism.<br>
<strong>It's not about what's worth hiding - it's about what's worth protecting.</strong></p>
<ul>
  <li><a href="https://privacyinternational.org/explainer/56/what-privacy" target="_blank" rel="noopener noreferrer">What is Privacy?</a></li>
  <li><a href="https://privacytools.io" target="_blank" rel="noopener noreferrer">Privacy Tools</a> <code><small>[Free Software (WTFPL)]</small></code></li>
  <li><a href="https://privacytests.org" target="_blank" rel="noopener noreferrer">Privacy Tests</a> <code><small>[Free Software (MIT)]</small></code></li>
  <li><a href="https://simplelogin.io" target="_blank" rel="noopener noreferrer">SimpleLogin</a> <code><small>[Free Software (AGPL)]</small></code></li>
  <li><a href="https://thenewoil.org" target="_blank" rel="noopener noreferrer">The New Oil</a> <code><small>[Creative Commons]</small></code></li>
  <li><a href="https://eff.org" target="_blank" rel="noopener noreferrer">Electronic Frontier Foundation</a> <code><small>[Creative Commons]</small></code></li>
  <li><a href="https://fuckoffgoogle.de/" target="_blank" rel="noopener noreferrer">Fuck Off, Google!</a> <code><small>[Other/Proprietary]</small></code></li>
  </ul></div>
<div class="box">
  <h2 style="text-align:center;" id="foss"><b>Free/Libre and Open Source Software</b></h2>
    <p style="color:white;text-align:center;"><b>FREE AS IN FREEDOM.</b><br>Support ethical computing and digital autonomy by using freedom and privacy respecting software.</p>
    <ul>
    <li><a href="https://getgnulinux.org" target="_blank" rel="noopener noreferrer">Get GNU/Linux!</a> <code><small>[Free Software (GPL)]</small></code></li>
    <li><a href="https://alternativeto.net" target="_blank" rel="noopener noreferrer">AlternativeTo</a> <code><small>[Other/Proprietary]</small></code></li>
    <li><a href="https://fsfe.org/freesoftware/freesoftware.en.html" target="_blank" rel="noopener noreferrer">About Free Software</a></li>
    <li><a href="https://directory.fsf.org/wiki/Category/All#Root_Categories" target="_blank" rel="noopener noreferrer">Free Software Directory</a></li>
    <li><a href="https://fsf.org" target="_blank" rel="noopener noreferrer">Free Software Foundation</a></li>
    <li><a href="https://gnu.org" target="_blank" rel="noopener noreferrer">GNU Project</a></li>
    <li><a href="https://wiki.fsfe.org/Advocacy/ProprietaryWebServices" target="_blank" rel="noopener noreferrer">Proprietary Web Services and Alternatives</a></li>
    <p style="color:white;text-align:center;"><small>Refer to <a href="/about/setup/#software">my current setup</a> for my personal software recommendations.</small></p>
  </ul></div>
  <div class="box">
  <h2 style="text-align:center;" id="videogames"><b>FOSS Video Games</b></h2>
<ul>
<li><a href="https://minetest.net" target="_blank" rel="noopener noreferrer">Minetest</a> <code><small>[Free Software (LGPL)]</small></code></li>
<li><a href="http://www.openarena.ws" target="_blank" rel="noopener noreferrer">OpenArena</a> <code><small>[Free Software(GPL)]</small></code></li>
<li><a href="https://taisei-project.org/" target="_blank" rel="noopener noreferrer">Taisei Project</a> <code><small>[Free Software]</small></code></li>
<li><a href="https://veloren.net" target="_blank" rel="noopener noreferrer">Veloren</a> <code><small>[Free Software (GPL)]</small></code></li>
    </ul></div>
<div class="box">
  <h2 style="text-align:center;" id="misc"><b>Miscellaneous / Honorable Mentions</b></h2>
       <h3><b>Browser Extensions</b></h3>
       <ul>
       <li><a href="https://libredirect.github.io/" target="_blank" rel="noopener noreferrer">LibRedirect</a> <code><small>[Free Software (GPL)]</small></code></li>
       <li><a href="https://ublockorigin.com/" target="_blank" rel="noopener noreferrer">uBlock Origin</a> <code><small>[Free Software (GPL)]</small></code></li>
       <li><a href="https://www.localcdn.org/" target="_blank" rel="noopener noreferrer">LocalCDN</a> <code><small>[Free Software (MPL)]</small></code></li>
        </ul>
        <h3 style="text-align:center;"><b>Password Managers</b></h3>
        <ul>
        <li><a href="https://keepassxc.org/" target="_blank" rel="noopener noreferrer">KeePassXC</a> <code><small>[Free Software (GPL)]</small></code></li>
        </ul>
        <h3 style="text-align:center;"><b>File Sharing</b></h3>
        <ul>
        <li><a href="https://send.vis.ee" target="_blank" rel="noopener noreferrer">Send Files</a> <code><small>[Free Software (MPL)]</small></code></li>
        <li><a href="https://nicotine-plus.org/" target="_blank" rel="noopener noreferrer">Nicotine+ (SLSK)</a> <code><small>[Free Software (GPL)]</small></code></li>
        <li><a href="https://www.qbittorrent.org/" target="_blank" rel="noopener noreferrer">Qbittorrent</a> <code><small>[Free Software (GPL)]</small></code></li>
        </ul>
  <h3 style="text-align:center;" id="networking"><b>Networking</b></h3>
<ul>
  <li><a href="https://mullvad.net" target="_blank">Mullvad</a></li>
  <li><a href="https://pi-hole.net" target="_blank">Pi-hole</a> <code><small>[European Union Public License (EUPL)]</small></code></li></ul>
        <h3 style="text-align:center;" id="others"><b>Others</b></h3>
        <ul>
        <li><a href="https://github.com/justchokingaround/lobster" target="_blank">Lobster</a> <code><small>[Free Software (GPL)]</small></code></li>
        <li><a href="https://github.com/pystardust/ani-cli" target="_blank">ani-cli</a> <code><small>[Free Software (GPL)]</small></code></li>
        <li><a href="https://vimm.net" target="_blank" rel="noopener noreferrer">Vimm's Lair</a></li>
        <li><a href="https://downloads.khinsider.com" target="_blank" rel="noopener noreferrer">Video Game Music</a></li>
        <li><a href="https://based.cooking" target="_blank" rel="noopener noreferrer">Based Cooking</a> <code><small>[Public Domain (Unlicense)]</small></code></li>
        <li><a href="https://archive.org" target="_blank" rel="noopener noreferrer">The Internet Archive</a> <code><small></small></code></li>
        <li><a href="https://wiki.archlinux.org" target="_blank" rel="noopener noreferrer">Arch Linux Wiki</a> <code><small>[Free Software (GPL)]</small></code></li>
        </ul>
  </div>
<img style="width:100%" src="/based/dmx-google.gif">
