---
layout: photos
title: Hayden White's photo archive - 04/2013
---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<p style="text-align:center;"><a href="/photos/archive">Index</a> | <a href="/photos/archive/201309">Next >></a></p>
<p style="color:lime; text-align:center;">April 2013</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0001.jpg" />
<img src="/photos/0002.jpg" />
<img src="/photos/0003.jpg" />
<img src="/photos/0004.jpg" />
<img src="/photos/0005.jpg" />
<img src="/photos/0006.jpg" />
<img src="/photos/0007.jpg" />
<img src="/photos/0008.jpg" />
</div>
<p style="text-align:center;"><a href="/photos/archive">Index</a> | <a href="/photos/archive/201309">Next >></a></p>
