---
layout: photos
title: Hayden White's photo archive - 10/2019

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201909"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201912">Next >></a></p>
<p style="color:lime; text-align:center;">October 2019</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2616.jpg">
<img src="/photos/2617.jpg">
<img src="/photos/2618.jpg">
<img src="/photos/2619.jpg">
</div>
<a href="/photos/archive/201909"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201912">Next >></a></p>

