---
layout: default
title: Hayden White's photo archive
---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h1 class="subheaders">Hayden White's Photography Archive</h1>

<h2 class="subheaders" id="archive" style="font-size:200%;text-align:center;"><b>Total Photos:</b> 2653</h2>
<div class="box">
<h2 id="2020" style="font-size:175%;text-align:center;color:white;">2020</h2>
<ul style="font-size:175%;text-align:center;">
<li><a href="/photos/archive/202001">January 2020</a></li>
<li><a href="/photos/archive/202002">February 2020</a></li>
<li><a href="/photos/archive/202008">August 2020</a></li>
<li><a href="/photos/archive/202009">September 2020</a></li>
<li><a href="/photos/archive/202011">November 2020</a></li>
</ul>
  </div>
<div class="box">
<h2 id="2019" style="font-size:175%;text-align:center;color:white;">2019</h2>
<ul style="font-size:175%;text-align:center;">
<li><a href="/photos/archive/201901">January 2019</a></li>
<li><a href="/photos/archive/201902">February 2019</a></li>
<li><a href="/photos/archive/201903">March 2019</a></li>
<li><a href="/photos/archive/201904">April 2019</a></li>
<li><a href="/photos/archive/201905">May 2019</a></li>
<li><a href="/photos/archive/201906">June 2019</a></li>
<li><a href="/photos/archive/201907">July 2019</a></li>
<li><a href="/photos/archive/201908">August 2019</a></li>
<li><a href="/photos/archive/201909">September 2019</a></li>
<li><a href="/photos/archive/201910">October 2019</a></li>
<li><a href="/photos/archive/201912">December 2019</a></li></ul>
  </div>
<div class="box">
<h2 id="2018" style="font-size:175%;text-align:center;color:white;">2018</h2>
<ul style="font-size:175%;text-align:center;">
<li><a href="/photos/archive/201801">January 2018</a></li>
<li><a href="/photos/archive/201802">February 2018</a></li>
<li><a href="/photos/archive/201803">March 2018</a></li>
<li><a href="/photos/archive/201804">April 2018</a></li>
<li><a href="/photos/archive/201805">May 2018</a></li>
<li><a href="/photos/archive/201806">June 2018</a></li>
<li><a href="/photos/archive/201807">July 2018</a></li>
<li><a href="/photos/archive/201808">August 2018</a></li>
<li><a href="/photos/archive/201809">September 2018</a></li>
<li><a href="/photos/archive/201810">October 2018</a></li>
<li><a href="/photos/archive/201811">November 2018</a></li>
<li><a href="/photos/archive/201812">December 2018</a></li></ul>
  </div>
<div class="box">
<h2 id="2017" style="font-size:175%;text-align:center;color:white;">2017</h2>
<ul style="font-size:175%;text-align:center;">
<li><a href="/photos/archive/201701">January 2017</a></li>
<li><a href="/photos/archive/201702">February 2017</a></li>
<li><a href="/photos/archive/201703">March 2017</a></li>
<li><a href="/photos/archive/201704">April 2017</a></li>
<li><a href="/photos/archive/201705">May 2017</a></li>
<li><a href="/photos/archive/201706">June 2017</a></li>
<li><a href="/photos/archive/201707">July 2017</a></li>
<li><a href="/photos/archive/201708">August 2017</a></li>
<li><a href="/photos/archive/201709">September 2017</a></li>
<li><a href="/photos/archive/201710">October 2017</a></li>
<li><a href="/photos/archive/201711">November 2017</a></li>
<li><a href="/photos/archive/201712">December 2017</a></li></ul>
  </div>
<div class="box">
<h2 id="2016" style="font-size:175%;text-align:center;color:white;">2016</h2>
<ul style="font-size:175%;text-align:center;">
<li><a href="/photos/archive/201601">January 2016</a></li>
<li><a href="/photos/archive/201602">February 2016</a></li>
<li><a href="/photos/archive/201603">March 2016</a></li>
<li><a href="/photos/archive/201604">April 2016</a></li>
<li><a href="/photos/archive/201605">May 2016</a></li>
<li><a href="/photos/archive/201606">June 2016</a></li>
<li><a href="/photos/archive/201607">July 2016</a></li>
<li><a href="/photos/archive/201608">August 2016</a></li>
<li><a href="/photos/archive/201609">September 2016</a></li>
<li><a href="/photos/archive/201610">October 2016</a></li>
<li><a href="/photos/archive/201611">November 2016</a></li>
<li><a href="/photos/archive/201612">December 2016</a></li></ul>
  </div>
  <div class="box">
<h2 id="2015" style="font-size:175%;text-align:center;color:white;">2015</h2>
<ul style="font-size:175%;text-align:center;">
<li><a href="/photos/archive/201501">January 2015</a></li>
<li><a href="/photos/archive/201502">February 2015</a></li>
<li><a href="/photos/archive/201503">March 2015</a></li>
<li><a href="/photos/archive/201504">April 2015</a></li>
<li><a href="/photos/archive/201505">May 2015</a></li>
<li><a href="/photos/archive/201506">June 2015</a></li>
<li><a href="/photos/archive/201507">July 2015</a></li>
<li><a href="/photos/archive/201508">August 2015</a></li>
<li><a href="/photos/archive/201509">September 2015</a></li>
<li><a href="/photos/archive/201510">October 2015</a></li>
<li><a href="/photos/archive/201511">November 2015</a></li>
<li><a href="/photos/archive/201512">December 2015</a></li></ul>
  </div>
  <div class="box">
<h2 id="2014" style="font-size:175%;text-align:center;color:white;">2014</h2>
<ul style="font-size:175%;text-align:center;">
<li><a href="/photos/archive/201409">September 2014</a></li>
<li><a href="/photos/archive/201410">October 2014</a></li>
<li><a href="/photos/archive/201411">November 2014</a></li>
<li><a href="/photos/archive/201412">December 2014</a></li></ul>
  </div>
<div class="box">
<h2 id="2013" style="font-size:175%;text-align:center;color:white;">2013</h2>
<ul style="font-size:175%;text-align:center;">
<li><a href="/photos/archive/201304">April 2013</a></li>
<li><a href="/photos/archive/201309">September 2013</a></li></ul>
  </div>
