---
layout: default
title: Privacy Policy - whitevhs.xyz
---

<style>
@media only screen and (max-width: 920px) {
body{
background-image: url('/background.png')
}}
body {
background-attachment: fixed;
background-size: cover;
}
</style>

<div class="box">
<h3 class="subheaders">Privacy Terms - whitevhs.xyz</h3>
<p style="text-align:center"><code style="color:pink;">Last updated Jun 03 2024</code></p><br>
<p style="text-align:center">
There is no logging enabled, no trackers and no cookies. The only use of JavaScript is for formatting/styling code blocks and the <a href="https://voicedrew.xyz/wr" target="_blank">Travelers of Agora Road Webring</a> located at the footer (though I have made it accessible without JavaScript, so the website is perfectly functional without it.)
</p>
</div>
