---
layout: default
title: About Hayden White (whiteVHS)
---
<style>
body{
background-image: url('/photos/bg/about_background.gif');
background-color: black;
}
</style>
<div class="box">
<img src="/photos/header/VHS_square.jpg" style="display:block;margin:auto;width:35%">
<h3 class="subheaders">About Me (Hayden White)</h3>
<p style="color:white">• I am a musician. I make beats, play drums, guitar, bass, and piano.<br> I've released <a href="/music">dozens of albums under several aliases</a>.<br>
  • I enjoy creating <a href="/undo/#art">visual art</a>.<br>
  • I practice <a href="/articles/2022/12/30/new-years-resolutions-and-digital-minimalism">digital minimalism</a> daily, and am pragmatic with my use of technology.<br>
  • Based <a href="/anime">anime</a>/<a href="/manga">manga</a> enjoyer.<br>
  • I'm an advocate of <a href="https://www.gnu.org/philosophy/free-software-even-more-important.html" target="_blank" rel="noopener noreferrer">Free/Libre Software</a>.<br>
  • I <a href="/based">strongly oppose the privacy invasion of Big Tech</a>.<br>
  • Some other sites I've made include:<br>
- <a href="/kaarbs" target="_blank">KAARBS</a> // a post-install script for Arch Linux<br>
- <a href="https://www.virtualgalleria.net" target="_blank">Virtual Galleria</a> // 24/7 internet radio station of my music library<br>
- <a href="https://cult9.xyz" target="_blank">CULT9</a> // a random site I made one afternoon out of boredom<br>
  • Here's my <a href="/contact">contact info</a>, feel free to reach out!<br>
Below are some links you can check out for more:<br>
  • <a href="/about/setup">My software and hardware setup (desktop/laptop/server)</a><br>
  • <a href="/now">My now page (what I'm focused on)</a><br>
  • <a href="https://listenbrainz.org/user/whiteVHS">See what I'm listening to</a><br>
  • <a href="/microblog">My Microblog (random thoughts, links, etc)</a><br>
  • <a href="https://mididungeon.xyz/users/danmaku">My Pleroma instance (random thoughts, links, etc)</a></p><br>
<img src="/photos/header/marisa.gif" style="display:block;margin:auto;width:10%">
    </div>
<div class="box">
<h3 class="subheaders">About this website (whitevhs.xyz)</h3>
<p style="color:white">• This site was created on <b>August 14th, 2022</b>. It was initially hosted with GitHub Pages.<br>
• It is made with the Jekyll <abbr title="Static Site Generator">SSG</abbr>.<br>
• On <b>April 14, 2023</b> I migrated the hosting to GitLab Pages.<br>
• On <b>April 29, 2024</b> I migrated the hosting to my own dedicated server running Debian GNU/Linux.<br>
• I use <a href="https://kaarbs.xyz/manual/emacs" target="_blank">GNU Emacs</a> to actually write the code/contents of the site.<br>
• Check out the sites <a href="/privacy">privacy policy</a>.<br>
</p>
</div>
