---
layout: default
title: Hayden White's setup - whitevhs.xyz
---
<style>
body{
background-image: url('/photos/bg/setup_background.gif');
background-color: black;
}
</style>
<img style="justify-contents:center;" src="/photos/header/puter.jpg" />
<div class="box">
  <h2 class="subheaders">About Me - My Setup</h2>
  <p style="color:white;text-align:center;">Here is a breakdown of my current setup:</p>
  </div>
<div class="box">
<h3 class="subheaders" id="hardware"><ins><b>HARDWARE</b></ins></h3>
<h4 id="desktop" style="color:white"><ins><b>Desktop</b></ins></h4>
  <p style="color:white">• <b>Case:</b> NZXT H500<br>
• <b>Motherboard:</b> Asus ROG Strix B550-F (WiFi)<br>
• <b>Cooler:</b> NZXT Kraken X63 (280mm AIO)<br>
• <b>CPU:</b> AMD Ryzen 7 5800X (8C/16T, @3.80GHz)<br>
• <b>GPU:</b> Asus ROG Strix RTX 3060 (12GB, LHR)<br>
• <b>RAM:</b> Corsair Vengeance Pro RGB (64GB DDR4, @3600MHz)<br>
• <b>PSU:</b> 750W 80+ Gold Corsair RM750x (Fully Modular, White)<br>
• <b>Storage:</b> 2TB WD Blue SATA SSD + 1TB WD Blue SATA SSD</p>
<br>
<h4 id="laptop" style="color:white"><ins><b>Laptop</b></ins></h4>
  <p style="color:white">• <b>Model:</b> Thinkpad T500<br>
• <b>CPU:</b> Intel Core 2 Duo P8600 (2C, @2.40GHz)<br>
• <b>GPU:</b> ATI Radeon HD 3650 (256MB)<br>
• <b>RAM:</b> 4GB (DDR2)<br>
• <b>Storage:</b> 128GB SSD</p>
<br>
<h4 id="server" style="color:white"><ins><b>Server</b></ins></h4>
  <p style="color:white">• <b>Host:</b> ThinkCentre M700<br>
• <b>CPU:</b> Intel Core i3-6100T (2C/4T, @3.20GHz)<br>
• <b>GPU:</b> Intel HD Graphics 530<br>
• <b>RAM:</b> 12GB (DDR4, @2133MHz)<br>
• <b>Storage:</b> 2TB SSD<br></p>
  </div>
  <div class="box">
<h3 class="subheaders" id="software"><ins><b>SOFTWARE</b></ins></h3>
  <p style="color:white"><small>My desktop and laptop have the following software installed:</small><br>
• <b>Operating System:</b> Arch GNU/Linux (server is running Debian GNU/Linux)<br>
• <b>Window Manager:</b> Hyprland (Wayland) and awesomeWM (X11)<br>
• <b>File Managers:</b> Thunar (for GUI) and lf (in the terminal)<br>
• <b>Music Player:</b> mpd (with ncmpcpp as front-end)<br>
• <b>Media Player:</b> mpv<br>
• <b>Image Viewer:</b> sxiv<br>
• <b>Image Editor:</b> Krita (GUI) and imagemagick (CLI)<br>
• <b>Text Editors:</b> GNU Emacs (GUI/CLI) and neovim (CLI)<br>
• <b>Web Browsers:</b> LibreWolf and Mullvad<br>
• <b>Terminal Emulators:</b> <small>Desktop:</small> kitty | <small>Laptop:</small> alacritty<br>
• <b>System Monitor:</b> btop</p>
  </div>
<div class="box">
<h3 class="subheaders" id="peripherals"><ins><b>PERIPHERALS</b></ins></h3>
  <p style="color:white"><small>The following peripherals are for my desktop only.</small><br>
• <b>Monitors:</b> MSI Optix G242P 24" 144Hz 1080p / HP 23es 23" 60Hz 1080p<br> 
• <b>Keyboard(s):</b> Compaq Model No. KU-9978 / Redragon Model No. 552RGB (TKL)<br>
• <b>Mouse:</b> Redragon Griffin Model No. M602A-RGB<br>
• <b>Headphones:</b> AKG K240 studio<br>
• <b>Audio Interface:</b> PreSonus Audiobox USB<br>
• <b>MIDI Controller:</b> AKAI MPK mini (25-key)<br>
• <b>Microphone:</b> Audio Technica AT2020<br>
• <b>Webcam:</b> Logitech C920x</p>
</div>
