---
layout: photos
title: Hayden White's photo archive - 05/2015

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201504"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201506">Next >></a></p>
<p style="color:lime; text-align:center;">May 2015</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0096.jpg" />
<img src="/photos/0097.jpg" />
<img src="/photos/0098.jpg" />
<img src="/photos/0099.jpg" />
<img src="/photos/0100.jpg" />
<img src="/photos/0101.jpg" />
<img src="/photos/0102.jpg" />
<img src="/photos/0103.jpg" />
<img src="/photos/0104.jpg" />
<img src="/photos/0105.jpg" />
<img src="/photos/0106.jpg" />
<img src="/photos/0107.jpg" />
<img src="/photos/0108.jpg" />
<img src="/photos/0109.jpg" />
<img src="/photos/0110.jpg" />
<img src="/photos/0111.jpg" />
<img src="/photos/0112.jpg" />
<img src="/photos/0113.jpg" />
<img src="/photos/0114.jpg" />
<img src="/photos/0115.jpg" />
<img src="/photos/0116.jpg" />
<img src="/photos/0117.jpg" />
<img src="/photos/0118.jpg" />
<img src="/photos/0119.jpg" />
<img src="/photos/0120.jpg" />
<img src="/photos/0121.jpg" />
<img src="/photos/0122.jpg" />
<img src="/photos/0123.jpg" />
<img src="/photos/0124.jpg" />
<img src="/photos/0125.jpg" />
<img src="/photos/0126.jpg" />
<img src="/photos/0127.jpg" />
<img src="/photos/0128.jpg" />
<img src="/photos/0129.jpg" />
<img src="/photos/0130.jpg" />
<img src="/photos/0131.jpg" />
<img src="/photos/0132.jpg" />
<img src="/photos/0133.jpg" />
<img src="/photos/0134.jpg" />
<img src="/photos/0135.jpg" />
</div>
<a href="/photos/archive/201504"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201506">Next >></a></p>

