---
layout: default
title: Jazz for your Soul
---
<style>
body {
background-image: url("/photos/bg/music_background.gif");
background-color: black;
}
</style>
 <h2 class="subheaders">Hayden White's Music</h2>
  <br>
  <div class="box">
  <p style="color:white"> I like to make music. Below is an (incomplete) index of my projects.<br>My discography is available on my several Bandcamp pages as well as the <a href="https://nicotine-plus.org">SLSK</a> network. There are also separate pages for my <a href="/music/cassettes">cassette releases</a> and my <a href="/music/recommendations">music recommendations</a>.
    </p></div>
  
  <h1 class="subheaders" id="active">Active Projects</h1>
  <br>
<div class="box">  
  <iframe scrolling="no" style="border: 0;width: 100%;height: 50px;" src="https://bandcamp.com/band_follow_button_deluxe/980836255"></iframe>
  
  <h1 id="white-vhs"><a href="https://haydenwhite.bandcamp.com/music" target="_blank" rel="noopener noreferrer">white VHS</a>   <small><code>Active 2017-present</code></small></h1>
  <p style="color:white">In early 2017, I released an acoustic album recorded in my bedroom titled "home videotape". From there I worked on instrumentals for a couple years until the release of "VCR" in 2019 which is a mix of my electronic stuff with vocals. Nowadays it's mainly instrumental video-game music remixes, hip-hop and vaporwave inspired stuff.</p>
  <p style="color:white"><small>*These two tracks are from the <a href="https://88nbeyond.bandcamp.com" target="_blank" rel="noopener noreferrer">88 'n' Beyond</a> beat compilations curated and arranged by members of the KNX community.</small></p>
  <iframe src="https://bandcamp.com/EmbeddedPlayer/album=3838089414/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track=2488223514/transparent=true/" seamless="" style="border: 0; width: 100%; height: 120px;"><a href="https://88nbeyond.bandcamp.com/album/88-n-beyond">88 &#39;n Beyond by 88 &#39;n Beyond</a></iframe>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2219037443/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track=1658531081/transparent=true/" seamless=""><a href="https://88nbeyond.bandcamp.com/album/88-n-beyond-iii-vgm">88 &#39;n Beyond III: VGM by 88 &#39;n Beyond</a></iframe>
  </div>
<div class="box">
  <iframe scrolling="no" style="border: 0;width: 100%;height: 50px;" src="https://bandcamp.com/band_follow_button_deluxe/64584123"></iframe>
  
  <h1 id="undo"><a href="https://whitevhs.xyz/undo" target="_blank" rel="noopener noreferrer">UNDO</a>   <small><code>Active 2021-present</code></small></h1>
  <p style="color:white">Mid-2021 was my time for experimentation; to break free of my usual rhythm and try something new. I debuted as UNDO with a <a href="https://yewtu.be/watch?v=KazsHAnLWPU" target="_blank">signalwave EP/visual</a> that I made in just 2 days. Since then it's evolved into a breakbeat fueled fever dream, bouncing around genres like traditional DnB to more chaotic breakcore or even noise.</p>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3733091496/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track=2277922654/transparent=true/" seamless=""><a href="https://undo222.bandcamp.com/album/inverted-matrix-digital-heaven">inverted matrix / digital heaven by UNDO</a></iframe>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3362398888/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track=1546380400/transparent=true/" seamless=""><a href="https://undo222.bandcamp.com/album/cybertorturechamber">CYBERTORTURECHAMBER by UNDO</a></iframe><br><br>
  </div>
 <div class="box">
   <iframe scrolling="no" style="border: 0;width: 100%;height: 50px;" src="https://bandcamp.com/band_follow_button_deluxe/603718359"></iframe>
  
  <h1 id="dash-talk"><a href="https://dash-talk.bandcamp.com" target="_blank" rel="noopener noreferrer">Dash Talk</a>   <small><code>Active 2018-present</code></small></h1>
  <p style="color:white">I've been playing bass with a couple good buds in this band since 2018. We won a local Battle of the Bands contest which is how we got our EP recorded. It was shortly after that (around mid 2020) we took a few years hiatus (almost 3 years) but now we are back, playing shows and coming up with new material.</p>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4218549943/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track=1199279155/transparent=true/" seamless=""><a href="https://dash-talk.bandcamp.com/album/dash-talk-s-t">Dash Talk (S/T) by Dash Talk</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4218549943/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track=3003079793/transparent=true/" seamless=""><a href="https://dash-talk.bandcamp.com/album/dash-talk-s-t">Dash Talk (S/T) by Dash Talk</a></iframe></div>
 <br>
 <br>
 <h1 class="subheaders" id="inactive">Inactive Projects</h1>
 <div class="box">
 <h1 class="subheaders" id="crystal-h"><a href="https://vapor-h.bandcamp.com" target="_blank" rel="noopener noreferrer">クリスタル H</a>   <small><code>Active 2015-2015</code></small></h1>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3970410358/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="https://vapor-h.bandcamp.com/album/--3">すでに死んで by クリスタル H</a></iframe>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=916436031/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="https://vapor-h.bandcamp.com/album/purgatory">purgatory プラザ by クリスタル H</a></iframe></div>
<div class="box">
  <h1 class="subheaders" id="virtualboy64"><a href="https://virtualboy64.bandcamp.com" target="_blank" rel="noopener noreferrer">VIRTUALBOY 64</a>   <small><code>Active 2016-2019</code></small></h1>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=217883950/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="https://virtualboy64.bandcamp.com/album/virtualboy-64">VIRTUALBOY 64 by VIRTUALBOY 64</a></iframe>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2387298632/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="https://virtualboy64.bandcamp.com/album/virtualboy64-w-a-v-e-e-p">virtualboy64 / チル w a v e  E P by VIRTUALBOY 64</a></iframe></div>
<div class="box">
  <h1 class="subheaders" id="palm-playground"><a href="https://palmplayground.bandcamp.com" target="_blank" rel="noopener noreferrer">PALM プレイグランド</a>   <small><code>Active 2016-2016</code></small></h1>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1729797318/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="https://palmplayground.bandcamp.com/album/palm">PALM プレイグランド by PALM プレイグランド</a></iframe></div>
<div class="box">
  <h1 class="subheaders" id="angelmask"><a href="https://angelmask.bandcamp.com" target="_blank" rel="noopener noreferrer">angelmask</a>   <small><code>Active 2019-2019</code></small></h1>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1146493948/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track=3970924426/transparent=true/" seamless=""><a href="https://angelmask.bandcamp.com/album/corrupted-youth-club">Corrupted Youth Club by angelmask</a></iframe>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2166886579/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="https://angelmask.bandcamp.com/album/corrupted-youth-club-instrumentals">Corrupted Youth Club (Instrumentals) by angelmask</a></iframe></div>
<div class="box">
  <h1 class="subheaders" id="cassette-tapes"><a href="https://cassettetapes.bandcamp.com" target="_blank" rel="noopener noreferrer">Cassette Tapes</a>   <small><code>Active 2016-2019</code></small></h1>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=1075996213/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="https://cassettetapes.bandcamp.com/track/toronto">Toronto by Cassette Tapes</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=3526682029/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="https://cassettetapes.bandcamp.com/track/like-a-title-fight">Like A Title Fight by Cassette Tapes</a></iframe>
  </div></div>
<div class="mainwrapper">
