---
layout: default
title: Donate to whiteVHS
---
<style>
@media only screen and (max-width: 800px) {
body{
background-image: url('/background.png')
}}
body {
background-attachment: fixed;
background-size: cover;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
}
</style>
<div class="box">
<h2 class="subheaders" style="font-size:200%">Donate/Support!</h2>
<p>Want to show your support? Consider purchasing some of my music <a href="https://haydenwhite.bandcamp.com/" target="_blank">here</a> or <a href="https://undo222.bandcamp.com/" target="_blank">here</a>.<br><small>All of my music is available to download gratis, and can optionally be purchased at a price of your choice.</small><br><br>
If you prefer a more private/anonymous method of showing support, I accept <a href="https://getmonero.org/" target="_blank">Monero</a> donations.</p>  
<img src="/donate/monerochan.png" title="Monerochan!" style="float:right" width="20%">
<div class="flex-container">
<span class="center">
<a href="/donate/whitevhs_monero_donation_qr.png" target="_blank">  
<img src="/donate/whitevhs_monero_donation_qr.png" alt="Donation QR">
</a>
<br>
<br>
<img style="max-height:1em;max-width:1em" src="/donate/xmr.png">

<code  style="overflow-wrap:break-word; color:lime;font-size:200%;">45LR5kgUbygebgeQSyhWoE3mwUnoCsN9UAV8DyYCs86rF4PSRhtZJ3QEvTHDb2gaT9heBpmHTkF4xfcb7fKfmyqrCNceUhP</code>

</span>
<br>
</div>
</div>
