---
layout: photos
title: Hayden White's photo archive - 08/2019

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201907"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201909">Next >></a></p>
<p style="color:lime; text-align:center;">August 2019</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2603.jpg" />
<img src="/photos/2604.jpg" />
<img src="/photos/2605.jpg" />
<img src="/photos/2606.jpg" />
</div>
<a href="/photos/archive/201907"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201909">Next >></a></p>

