---
layout: photos
title: Hayden White's photo archive - 04/2015

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201503"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201505">Next >></a></p>
<p style="color:lime; text-align:center;">April 2015</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0073.jpg" />
<img src="/photos/0074.jpg" />
<img src="/photos/0075.jpg" />
<img src="/photos/0076.jpg" />
<img src="/photos/0077.jpg" />
<img src="/photos/0078.jpg" />
<img src="/photos/0079.jpg" />
<img src="/photos/0080.jpg" />
<img src="/photos/0081.jpg" />
<img src="/photos/0082.jpg" />
<img src="/photos/0083.jpg" />
<img src="/photos/0084.jpg" />
<img src="/photos/0085.jpg" />
<img src="/photos/0086.jpg" />
<img src="/photos/0087.jpg" />
<img src="/photos/0088.jpg" />
<img src="/photos/0089.jpg" />
<img src="/photos/0090.jpg" />
<img src="/photos/0091.jpg" />
<img src="/photos/0092.jpg" />
<img src="/photos/0093.jpg" />
<img src="/photos/0094.jpg" />
<img src="/photos/0095.jpg" />
</div>
<a href="/photos/archive/201503"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201505">Next >></a></p>

