---
layout: photos
title: Hayden White's photo archive - 09/2014
---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201409"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201411">Next >></a></p>
<p style="color:lime; text-align:center;">September 2014</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0013.jpg" />
<img src="/photos/0014.jpg" />
<img src="/photos/0015.jpg" />
<img src="/photos/0016.jpg" />
<img src="/photos/0017.jpg" />
<img src="/photos/0018.jpg" />
<img src="/photos/0019.jpg" />
<img src="/photos/0020.jpg" />
<img src="/photos/0021.jpg" />
<img src="/photos/0022.jpg" />
<img src="/photos/0023.jpg" />
<img src="/photos/0024.jpg" />
</div>
<a href="/photos/archive/201309"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201410">Next >></a></p>

