---
layout: photos
title: Hayden White's photo archive - 01/2019

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201812"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201902">Next >></a></p>
<p style="color:lime; text-align:center;">January 2019</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2505.jpg">
<img src="/photos/2506.jpg">
<img src="/photos/2507.jpg">
<img src="/photos/2508.jpg">
<img src="/photos/2509.jpg">
<img src="/photos/2510.jpg">
<img src="/photos/2511.jpg">
<img src="/photos/2512.jpg">
<img src="/photos/2513.jpg">
<img src="/photos/2514.jpg">
<img src="/photos/2515.jpg">
<img src="/photos/2516.jpg">
<img src="/photos/2517.jpg">
<img src="/photos/2518.jpg">
<img src="/photos/2519.jpg">
<img src="/photos/2520.jpg">
<img src="/photos/2521.jpg">
<img src="/photos/2522.jpg">
</div>
<a href="/photos/archive/201812"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201901">Next >></a></p>

