---
layout: old
title: Happy Hacking!
---
<style>
.center {
display: block;
margin-left: 82px;
margin-right: auto;
}
.center2 {
display: block;
margin: auto;
}
</style>
<div class="blurb">
        <h1>Hayden White's Personal Site</h1>
	<hr>
<div>
<p style="color:#ff6536; font-size:125%;">Welcome to my little corner of the World Wide Web.<br>
If you haven't already, you can <a href="/articles/2023/08/29/personal-websites">claim your own corner too</a>.</p>
<a href="https://info.cern.ch/hypertext/WWW/TheProject.html"><img src="https://forum.agoraroad.com/index.php?media/badge-gif.6316/full" alt="World Wide Web"></a>
<h1><b>LATEST MUSIC</b></h1>
<h2 id="newalbum"><b><a href="https://haydenwhite.bandcamp.com/album/wtf-do-i-name-this-ep" target="_blank" rel="noopener noreferrer"><ins>wtf do i name this EP</ins></a></b></h2>
<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2695077720/size=large/bgcol=181a1b/linkcol=262a2b/tracklist=false/transparent=true/" seamless><a href="https://haydenwhite.bandcamp.com/album/wtf-do-i-name-this-ep">wtf do i name this EP by white VHS</a></iframe>
<p><a href="/music"><small>More music...</small></a></p>
<h1><b>LATEST POSTS</b>   <a href="https://whitevhs.xyz/articles/atom.xml"><img src="/rss.png" width="30" height="30"></a></h1>

<ul style="font-size:150%;"><li style="color:black;">• <code>31 Oct 2023</code> - <a href="/articles/2023/10/31/happy-halloween">Happy Halloween!</a></li>
<li style="color:black;">• <code>27 Oct 2023</code> - <a href="/articles/2023/10/27/youtube-without-ads">Watch YouTube Without Ads</a></li>
<li style="color:black;">• <code>23 Oct 2023</code> - <a href="/articles/2023/10/23/linux-gaming">The Current State of Linux Gaming</a></li>
<a href="/articles"><small>More posts...</small></a>
</ul>
</p>
<h1 id="about"><b>ABOUT THIS SITE</b></h1>
<p><small>This site acts as an index for my creations, a haven for expressing myself and my way of tinkering with HTML/CSS.<br>
Its very existence is a resistance to the centralization and consolidation of the current world wide web.<br>
All the code is hand-typed by me. You can view the awful mess of a codebase <a href="https://gitlab.com/whiteVHS/site/" target="_blank">here</a>!<br>
I aim to keep the site fairly minimal and bloat-free (currently 99% HTML!)<br>This site is best viewed on a desktop or laptop.<br>
It's also completely <a href="https://ihavenoads.com" target="_blank" rel="noopener noreferrer">ad-free</a>.</small></p>
<p style="color:white"><small>This site is hosted on <a href="https://gitlab.com/pages" target="_blank">Gitlab Pages</a>
and is made with the Jekyll static site generator (SSG).</small></p>
<br>
<h1 id="button"><b>WEB BUTTONS</b></h1>
<p><small>Add the code below to your website to embed my 88x31 button!</small><br>
<pre><code style="font-size:140%">&lt;a href="https://whitevhs.xyz/" target="_blank">&lt;img alt="white VHS" src="https://whitevhs.xyz/whiteVHS.gif" title="white VHS" />&lt;/a></code></pre></p>
<p><small><a href="/buttons">More buttons...</a></small></p>
<br>
<hr>
<p style="color:white"><strong>"Software freedom is human freedom!"</strong><br><small>I'd like to personally thank Linus Torvalds for the creation<br>of Git and the Linux kernel, and Richard M. Stallman for the<br>GNU operating system and the GNU General Public Licenses (GPL).</small></p>
	</div>
	<div>
	<span class="center2">
<img src="/touhou.gif" style="border-radius: 25px" width="260px" height="140px">
<details style="color:yellow">
<summary style="color:white">Happy Hacking!</summary>
A hacker is someone who enjoys playful cleverness—not necessarily with computers.<br>
The programmers in the old MIT free software community of the 60s and 70s referred to themselves as hackers.<br>
Around 1980, journalists who discovered the hacker community mistakenly took the term to mean “security breaker.”<br>
Please don't spread this mistake. People who break security are “crackers.” (or cybercriminals)</details>

	</span>
	</div>
</div>
