---
layout: default
title: woah, cassettes man!
---
<style>
body {
background-image: url("/photos/bg/music_background.gif");
background-color: black;
}
</style>
<h1 class="subheaders">Hayden White's Cassette Releases</h1>
<br>
<div class="box">
<h1 style="text-align:center;"><strong><a href="https://haydenwhite.bandcamp.com/music" target="_blank" rel="noopener noreferrer">white VHS</a></strong></h1>
  <h2 class="subheaders"><a href="https://friedplumrecords.bandcamp.com/album/channel-5-ep" target="_blank" rel="noopener noreferrer">CHANNEL 5 EP (Fried Plum Records)</a></h2>
  <p style="color:white">The CHANNEL 5 EP is available on a blank white cassette courtesy of <a href="https://friedplumrecords.bandcamp.com" target="_blank" rel="noopener noreferrer">Fried Plum Records</a>.</p>
<iframe style="border: 0; width: 100%; height: 537px;" src="https://bandcamp.com/EmbeddedPlayer/album=957729618/size=large/bgcol=333333/linkcol=ffffff/package=1320694407/tracklist=false/transparent=true/" seamless=""><a href="https://friedplumrecords.bandcamp.com/album/channel-5-ep">CHANNEL 5 EP by white VHS</a></iframe>
<p style="color:white"><small>(Also available on <a href="https://www.discogs.com/release/23399861-white-vhs-CHANNEL-5-EP" target="_blank" rel="noopener noreferrer">Discogs</a>)</small></p><br>
  <h2 class="subheaders"><a href="https://hairsablazin.bandcamp.com/album/adjust-the-vcr-tracking-for-the-clearest-picture" target="_blank" rel="noopener noreferrer">Adjust The VCR Tracking For The Clearest Picture (Hairs aBlazin)</a></h2>
  <p style="color:white">Adjust The VCR Tracking For The Clearest Picture is available on a white cassette courtesy of <a href="https://hairsablazin.bandcamp.com" target="_blank" rel="noopener noreferrer">Hairs aBlazin'</a>.</p> 
  <iframe src="https://bandcamp.com/EmbeddedPlayer/album=1899268424/size=large/bgcol=333333/linkcol=ffffff/package=373237444/tracklist=false/transparent=true/" seamless="" style="border: 0; width: 100%; height: 537px;"><a href="https://hairsablazin.bandcamp.com/album/adjust-the-vcr-tracking-for-the-clearest-picture">Adjust The VCR Tracking For The Clearest Picture by white vhs</a></iframe>
  <p style="color:white"><small>(Also available on <a href="https://www.discogs.com/release/14736239-White-VHS-Adjust-The-VCR-Tracking-For-The-Clearest-Picture" target="_blank" rel="noopener noreferrer">Discogs</a>)</small></p></div><br><br>
<div class="box">
<h1 style="text-align:center;"><strong><a href="https://undo222.bandcamp.com" target="_blank" rel="noopener noreferrer">UNDO</a></strong></h1>
  <h2 class="subheaders"><a href="https://cloudcorporation.bandcamp.com/album/untitled" target="_blank" rel="noopener noreferrer">UNTITLED (CloudCorp.)</a></h2>
  <p style="color:white">UNTITLED is available on a dark-blue cassette (featuring exclusive tracks) courtesy of <a href="https://cloudcorporation.bandcamp.com" target="_blank" rel="noopener noreferrer">CloudCorp.</a></p>
<iframe style="border: 0; width: 100%; height: 853px;" src="https://bandcamp.com/EmbeddedPlayer/album=1193225841/size=large/bgcol=333333/linkcol=ffffff/package=2248570370/transparent=true/" seamless=""><a href="https://cloudcorporation.bandcamp.com/album/untitled">UNTITLED by UNDO</a></iframe></div><br><br><br>
<div class="box">
  <h1 style="text-align:center;" id="compilations"><ins>Compilation Appearances</ins></h1><br>
  <h1 style="text-align:center;"><strong><a href="https://haydenwhite.bandcamp.com" target="_blank" rel="noopener noreferrer">white VHS</a></strong></h1>
  <h2 class="subheaders"><a href="https://friedplumrecords.bandcamp.com/album/fried-plum-jams-vol-1" target="_blank" rel="noopener noreferrer">Fried Plum Jams Vol. 1 (Fried Plum Records)</a></h2>
  <p style="color:white">white VHS has the 6th track on Fried Plum Jams Vol. 1, courtesy of <a href="https://friedplumrecords.bandcamp.com" target="_blank" rel="noopener noreferrer">Fried Plum Records</a>.</p>
  <iframe style="border: 0; width: 100%; height: 537px;" src="https://bandcamp.com/EmbeddedPlayer/album=1688606036/size=large/bgcol=333333/linkcol=ffffff/package=64364172//track=1169573221/tracklist=false/transparent=true/" seamless=""><a href="https://friedplumrecords.bandcamp.com/album/fried-plum-jams-vol-1">Fried Plum Jams Vol. 1 by Fried Plum Records</a></iframe></div>
<div class="box">
  <h1 class="subheaders"><strong><a href="https://vapor-h.bandcamp.com" target="_blank" rel="noopener noreferrer">クリスタル H</a></strong></h1>
  <h2 class="subheaders"><a href="https://beerwizard.bandcamp.com/album/vapor-selects-vol-1" target="_blank" rel="noopener noreferrer">Vapor波 Selects Vol. 1 (Beer Wizard)</a></h2>
  <p style="color:white">クリスタル H has the 7th track on Vapor波 Selects Vol. 1, courtesy of <a href="https://beerwizard.bandcamp.com" target="_blank" rel="noopener noreferrer">Beer Wizard</a>.</p>
  <iframe style="border: 0; width: 100%; height: 522px;" src="https://bandcamp.com/EmbeddedPlayer/album=2904703997/size=large/bgcol=333333/linkcol=ffffff/track=4247644174/transparent=true/" seamless=""><a href="https://beerwizard.bandcamp.com/album/vapor-selects-vol-1">VAPOR波 Selects Vol. 1 by Various Artists</a></iframe>
  <p style="color:white"><small>(Also available on <a href="https://www.discogs.com/release/8146863-Various-Vapor%E6%B3%A2-Selects-Vol-1" target="_blank" rel="noopener noreferrer">Discogs</a>)</small></p></div>
<div class="box">
  <h1 class="subheaders"><strong><a href="https://virtualboy64.bandcamp.com" target="_blank" rel="noopener noreferrer">VIRTUALBOY 64</a></strong></h1>
  <h2 class="subheaders"><a href="https://lsdistrict.bandcamp.com/album/4-20-96" target="_blank" rel="noopener noreferrer">4/20/'96 (Luxury Sky District)</a></h2>
  <p style="color:white">VIRTUALBOY 64 has the 3rd track on 4/20/'96, courtesy of <a href="https://lsdistrict.bandcamp.com" target="_blank" rel="noopener noreferrer">Luxury Sky District</a>.</p>
  <iframe src="https://bandcamp.com/EmbeddedPlayer/album=1965637412/size=large/bgcol=333333/linkcol=ffffff/track=3941880543/transparent=true/" seamless="" style="border: 0; width: 100%; height: 522px;"><a href="https://lsdistrict.bandcamp.com/album/4-20-96">4/20/&#39;96 by Various</a></iframe>
  <p style="color:white"><small>(Also available on <a href="https://www.discogs.com/release/9868040-Various-42096" target="_blank" rel="noopener noreferrer">Discogs</a>)</small></p>
  <h3><strong>If you notice there is something omitted from this list, please <a href="/contact">contact me</a>.</strong></h3>
  </div>
