---
title: Anime List - Sugoi!
layout: default
---
<style>
body {
    background-image:url("/photos/bg/anime_background.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:black;
}
ul, li, table, th, td {
    color: white;
}
table {
    width: 100%;
}
table, th, td {
    border: 1px double purple;
}
th {
    font-size:175%;
}
td {
    font-size: 150%;
}
th, td {
    padding: 12px;
}
code {
    color:lightblue;
}
</style>
<div class="box">
        <h1 class="subheaders">Anime List</h1>
	<p style="text-align:center"><code>Last updated Feb 27 2025</code></p>
	<br>
  <p style="text-align:center"><small>Favorites are in no particular order. Ratings and info based on MyAnimeList rating system/database.<br>
  I also have a <a href="/manga">manga list</a>.</small></p>
  <br>
<p style="text-align:center;"><a href="/anime/#watching">Watching</a> | <a href="/anime/#completed">Completed</a> | <a href="/anime/#hold">On Hold</a> | <a href="/anime/#dropped">Dropped</a> | <a href="/anime/#plantowatch">Plan to Watch</a></p>
		<hr></div>
<br>
	<div class="box">
<h2 class="subheaders" id="resources"><b>Resources</b></h2>
<ul>
  <li>I use <a href="https://github.com/pystardust/ani-cli" target="_blank">ani-cli</a> to watch most of my anime.</li>
  <li>If not, <a href="https://nyaa.si" target="_blank">nyaa</a> does the trick.</li>
  <li>Please avoid watching anime in a browser. For your own good ❤️</li>
</ul>
  <h2 class="subheaders" id="favorites"><b>Favorites</b></h2>
  <h3>TV</h3>
  <ul>
    <li>Bocchi the Rock!</li>
    <li>Girls und Panzer</li>
    <li>Gintama</li>
    <li>Mahou Shoujo Madoka Magicka</li>
    <li>Bubblegum Crisis</li>
    <li>Yu Yu Hakusho</li>
    <li>Great Teacher Onizuka</li>
    <li>Trigun</li>
  </ul>
<br>
<h3>Movies</h3>
<ul>
  <li>Paprika</li>
  <li>Akira</li>
  <li>Ninja Scroll</li>
  <li>Ghost in the Shell</li>
  <li>Jujutsu Kaisen 0</li>
</ul>
	</div>
<br>
  <h1 id="watching"><b>Watching</b></h1>
<hr>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Progress</th>
        <th>Format</th>
        </tr>
    </thead>
  <tbody>
<tr>
      <td>Frieren: Beyond Journey's End</td>
      <td>2/28</td>
      <td>TV</td>
      </tr>
<tr>
      <td>Gensou Mangekyou: The Memories of Phantasm</td>
      <td>10/18</td>
      <td>OVA</td>
      </tr>
<tr>
      <td>Gintama</td>
      <td>5/12</td>
      <td>TV</td>
      </tr>
<tr>
      <td>Kidou Senshi Gundam (Mobile Suit Gundam)</td> 
      <td>21/43</td>
      <td>TV</td>
      </tr>
<tr>
      <td>Pokemon</td>
      <td>219/276</td>
      <td>TV</td>
      </tr>
<tr>
      <td>Sakamoto Days</td>
      <td>1/11</td>
      <td>TV</td>
      </tr>
<tr>
      <td>Texhnolyze</td>
      <td>1/22</td>
      <td>TV</td>
      </tr>
<tr>
      <td>Urusei Yatsura</td>
      <td>52/195</td>
      <td>TV</td>
      </tr>
<tr>
      <td>Urusei Yatsura (2022)</td>
      <td>14/23</td>
      <td>TV</td>
      </tr>
    </tbody>
</table>
<br>
<h1 id="completed"><b>Completed</b>  <small><code>Total: 332</code></small></h1>
<hr>
<table>
<thead>
	<tr>
	<th>Title</th>
	<th>Length</th>
	<th>Format</th>
	<th>Rating</th>
	</tr>
</thead>
	<tbody>
<tr>
	<td>"Tokyo"</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>.hack//Sign</td>
	<td>26</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>1</td>
	<td>1</td>
	<td>ONA</td>
	<td>5</td>
	</tr>
<tr>
	<td>00:08</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>1+2=Paradise</td>
	<td>2</td>
	<td>OVA</td>
	<td>4</td>
	</tr>
<tr>
	<td>11-gatsu Umare no Otokonoko no Tame ni.</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>86</td>
	<td>11</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>86 Part 2</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>?/Sankaku no Rhythm/Trump no Arasoi</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Aa! Megami-sama!</td>
	<td>5</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Abstract feat. Alkama</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Adventures in Beauty Wonderland</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Ai</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Akira</td>
	<td>1</td>
	<td>Movie</td>
	<td>9</td>
	</tr>
<tr>
	<td>Amagami SS</td>
	<td>25</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Amagami SS OVA</td>
	<td>6</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Amagami SS+ Plus</td>
	<td>13</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Amagami SS+ Plus Extra Episode+ Plus</td>
	<td>6</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Aos</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Arei no Kagami: Way to the Virgin Space</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Artiswitch</td>
	<td>6</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Asobi ni Iku yo!</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Astro Boy: Tetsuwan Atom</td>
	<td>50</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Atama Yama</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Atomic World</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Ayakashi: Japanese Classic Horror</td>
	<td>11</td>
	<td>TV</td>
	<td>4</td>
	</tr>
<tr>
	<td>Ayanami Rei, Hajimete no Kuchibeni</td>
	<td>1</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Azumanga Daioh</td>
	<td>26</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Baka Baka Baka na Sekai</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Bakemono no Ko (Boy and the Beast)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Baoh Raihousha</td>
	<td>1</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Be-Bop Highschool</td>
	<td>7</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Biohazard: Infinite Darkness</td>
	<td>4</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Bishoujo Senshi Sailor Moon</td>
	<td>46</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Black Lagoon</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Black Lagoon Omake</td>
	<td>7</td>
	<td>Special</td>
	<td>6</td>
	</tr>
<tr>
	<td>Blade Runner: Black Out 2022</td>
	<td>1</td>
	<td>ONA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Blue Period</td>
	<td>12</td>
	<td>TV</td>
	<td>10</td>
	</tr>
<tr>
	<td>Bocchi the Rock!</td>
	<td>12</td>
	<td>TV</td>
	<td>10</td>
	</tr>
<tr>
	<td>Bubblegum Crash</td>
	<td>3</td>
	<td>OVA</td>
	<td>8</td>
	</tr>
<tr>
	<td>Bubblegum Crisis</td>
	<td>8</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Burn Up!</td>
	<td>1</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>C Danchi (Housing Complex C)</td>
	<td>4</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Chainsaw Man</td>
	<td>12</td>
	<td>TV</td>
	<td>10</td>
	</tr>
<tr>
	<td>Chi's Sweet Home</td>
	<td>104</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Chobits</td>
	<td>26</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Choujikuu Kidan Southern Cross</td>
	<td>23</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Cike Wu Liuqi (Scissor Seven)</td>
	<td>10</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>City Hunter</td>
	<td>51</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>CLAMP in Wonderland</td>
	<td>1</td>
	<td>Music</td>
	<td>6</td>
	</tr>
<tr>
	<td>CLAMP in Wonderland 2</td>
	<td>2</td>
	<td>Music</td>
	<td>6</td>
	</tr>
<tr>
	<td>Code Geass: Boukoku no Akito 1 - Yokuryuu wa Maiorita</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Code Geass: Hangyaku no Lelouch</td>
	<td>25</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Code Geass: Hangyaku no Lelouch R2</td>
	<td>25</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Coffee Break</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Comics</td>
	<td>1</td>
	<td>Movie</td>
	<td>4</td>
	</tr>
<tr>
	<td>Cowboy Bebop</td>
	<td>26</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Cowboy Bebop: Tengoku no Tobira</td>
	<td>1</td>
	<td>Movie</td>
	<td>9</td>
	</tr>
<tr>
	<td>Cowboy Bebop: Yose Atsume Blues</td>
	<td>1</td>
	<td>Special</td>
	<td>8</td>
	</tr>
<tr>
	<td>Cue!</td>
	<td>24</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Darling in the FranXX</td>
	<td>24</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Dead Girl Trailer</td>
	<td>1</td>
	<td>ONA</td>
	<td>5</td>
	</tr>
<tr>
	<td>Death Note</td>
	<td>37</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Demi-chan wa Kataritai</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Digital Devil Story: Megami Tensei</td>
	<td>1</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Dolls' Frontline</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Doubutsu no Mori (Animal Crossing Movie)</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Elfen Lied</td>
	<td>13</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Elfen Lied OVA</td>
	<td>1</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Ergo Proxy</td>
	<td>23</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Fashion</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Fate/Zero</td>
	<td>13</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Fate/Zero 2nd Season</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Final Fantasy VII: Advent Children</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Final Fantasy VII: Last Order</td>
	<td>1</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>FLCL</td>
	<td>6</td>
	<td>OVA</td>
	<td>9</td>
	</tr>
<tr>
	<td>G-senjou no Higeki</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Gabriel DropOut</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Gabriel DropOut Specials</td>
	<td>2</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Gag Manga Biyori: Jump Festa 2002 Special</td>
	<td>1</td>
	<td>Special</td>
	<td>6</td>
	</tr>
<tr>
	<td>Gake no Ue no Ponyo</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Gakkou no Kaidan (Ghost Stories)</td>
	<td>19</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Ghost Stories Special</td>
	<td>1</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Ganbare Douki-chan</td>
	<td>12</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Ged Senki (Tales from Earthsea)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Genshiken</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Genshiken 2</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Genshiken OVA</td>
	<td>3</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Getsuyoubi no Tawawa</td>
	<td>12</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Getsuyoubi no Tawawawa 2</td>
	<td>12</td>
	<td>ONA</td>
	<td>4</td>
	</tr>
<tr>
	<td>Gintama</td>
	<td>201</td>
	<td>TV</td>
	<td>10</td>
	</tr>
<tr>
	<td>Gintama: The Movie</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Gintama Movie 2: Kanketsu-hen - Yorozuya yo Eien Nare</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Gintama'</td>
	<td>51</td>
	<td>TV</td>
	<td>10</td>
	</tr>
<tr>
	<td>Gintama': Enchousen</td>
	<td>13</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
      <td>Gintama°</td>
      <td>51</td>
      <td>TV</td>
      <td>9</td>
      </tr>
<tr>
	<td>Girls und Panzer</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Girls und Panzer der Film</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Girls und Panzer: Shoukai Shimasu!</td>
	<td>2</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Girls und Panzer: Saishuushou (das Finale) Part 1</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
</tr><tr>
	<td>Girls und Panzer: Saishuushou (das Finale) Part 2</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
</tr>
<tr>
	<td>Girls und Panzer: Saishuushou (das Finale) Part 3</td>
	<td>1</td>
	<td>Movie</td>
	<td>9</td>
</tr>
<tr>
	<td>Girls und Panzer Specials</td>
	<td>6</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Golden Boy</td>
	<td>6</td>
	<td>OVA</td>
	<td>9</td>
	</tr>
<tr>
	<td>Good Morning</td>
	<td>1</td>
	<td>Music</td>
	<td>7</td>
	</tr>
<tr>
	<td>Gotcha!</td>
	<td>1</td>
	<td>Music</td>
	<td>7</td>
	</tr>
<tr>
	<td>Great Teacher Onizuka</td>
	<td>43</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Hametsu no Mars</td>
	<td>1</td>
	<td>OVA</td>
	<td>4</td>
	</tr>
<tr>
	<td>Hana</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Handa-kun</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Happy Sugar Life</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Heisei Tanuki Gassen Ponpoko (Pom Poko)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Hells</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Hellsing Ultimate</td>
	<td>10</td>
	<td>OVA</td>
	<td>8</td>
	</tr>
<tr>
	<td>Hellsing: The Dawn</td>
	<td>3</td>
	<td>Special</td>
	<td>6</td>
	</tr>
<tr>
	<td>Heya</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>High Score Girl</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>High School DxD</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>High School DxD BorN</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>High School DxD Hero</td>
	<td>12</td>
	<td>TV</td>
	<td>5</td>
	</tr>
<tr>
	<td>High School DxD New</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>High School DxD New: Oppai, Tsutsumimasu!</td>
	<td>1</td>
	<td>OVA</td>
	<td>5</td>
	</tr>
<tr>
	<td>High School DxD OVA</td>
	<td>2</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>High School DxD Specials</td>
	<td>6</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Higurashi no Naku Koro ni</td>
	<td>26</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Himouto! Umaru-chan</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Himouto! Umaru-chan OVA</td>
	<td>2</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Himouto! Umaru-chan R</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Hokuto no Ken (Fist of the North Star)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Howl no Ugoku Shiro (Howl's Moving Castle)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Hurricane Live! 2032</td>
	<td>6</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
      <td>Hyouka</td>
      <td>22</td>
      <td>TV</td>
      <td>9</td>
      </tr>
<tr>
	<td>Ijiranaide, Nagatoro-san</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Interstella5555</td>
	<td>1</td>
	<td>Music</td>
	<td>8</td>
	</tr>
<tr>
	<td>InuYasha Movie 1: Toki wo Koeru Omoi</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Ito Junji: Collection</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Ito Junji: Collection - Tomie</td>
	<td>2</td>
	<td>Special</td>
	<td>6</td>
	</tr>
<tr>
	<td>Jahy-sama wa Kujikenai!</td>
	<td>20</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Jikuu Tenshou Nazca</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure</td>
	<td>26</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure: Stardust Crusaders</td>
	<td>24</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure: Stardust Crusaders 2nd Season</td>
	<td>24</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure: Diamond is Unbreakable</td>
	<td>39</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure: Golden Wind</td>
	<td>39</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure: Stone Ocean</td>
	<td>12</td>
	<td>ONA</td>
	<td>9</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure: Stone Ocean Part 2</td>
	<td>12</td>
	<td>ONA</td>
	<td>9</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure: Stone Ocean Part 3</td>
	<td>14</td>
	<td>ONA</td>
	<td>10</td>
	</tr>
<tr>
	<td>Jujutsu Kaisen</td>
	<td>24</td>
	<td>TV</td>
	<td>10</td>
	</tr>
<tr>
        <td>Jujutsu Kaisen 2nd Season</td>
	<td>23</td>
	<td>TV</td>
	<td>10</td>
	</tr>
<tr>
	<td>Jujutsu Kaisen 0 Movie</td>
	<td>1</td>
	<td>Movie</td>
	<td>10</td>
	</tr>
<tr>
	<td>Juubee Ninpuuchou (Ninja Scroll)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>K-On!</td>
	<td>13</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>K-On!!</td>
	<td>26</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Kaichou wa Maid-sama!</td>
	<td>26</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Kanojo to Kanojo no Neko</td>
	<td>1</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Kantai Collection: KanColle</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Karigurashi no Arrietty (Secret World of Arrietty)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Kaze Tachinu (The Wind Rises)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Kemeko no Love</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Kemono Jihen</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Kidou Senshi Gundam: Tekketsu no Orphans</td>
	<td>25
	</td><td>TV
	</td><td>7
	</td></tr>
<tr>
	<td>Kidou Senshi Gundam: Tekketsu no Orphans 2nd Season</td>
	<td>25</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Kill la Kill</td>
	<td>24</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Kill la Kill Specials</td>
	<td>2</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Kimetsu no Yaiba (Demon Slayer)</td>
	<td>26</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Kimetsu no Yaiba Movie: Mugen Ressha-hen (Mugen Train)</td>
	<td>1</td>
	<td>Movie</td>
	<td>9</td>
	</tr>
<tr>
	<td>Kimetsu no Yaiba: Yuukaku-hen (Entertainment District Arc)</td>
	<td>11</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Kimi ga Nozomu Eien</td>
	<td>14</td>
	<td>TV</td>
	<td>5</td>
	</tr>
<tr>
	<td>Kimi no na Wa. (Your Name)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Kiseichuu no Ichiya</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Kishibe Rohan wa Ugokanai (Thus Spoke Kishibe Rohan)</td>
	<td>4</td>
	<td>OVA</td>
	<td>8</td>
	</tr>
<tr>
	<td>Kitte no Gensou</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Kobayashi-san Chi no Maid Dragon</td>
	<td>13</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Kobayashi-san Chi no Maid Dragon S</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Kobayashi-san Chi no Maid Dragon Special</td>
	<td>1</td>
	<td>Special</td>
	<td>6</td>
	</tr>
<tr>
	<td>Koe no Katachi (A Silent Voice)</td>
	<td>1</td>
	<td>Movie</td>
	<td>9</td>
	</tr>
<tr>
	<td>Komi-san wa, Comyushou desu. (Komi Can't Communicate)</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Komi-san wa, Comyushou desu. 2nd Season</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Kono Subarashii Sekai ni Shukufuku wo! (KonoSuba)</td>
	<td>10</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Kono Subarashii Sekai ni Shukufuku wo! 2</td>
	<td>10</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>KonoSuba OVA</td>
	<td>1</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>KonoSuba 2 OVA</td>
	<td>1</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Koukaku Kidoutai (Ghost in the Shell)</td>
	<td>1</td>
	<td>Movie</td>
	<td>9</td>
	</tr>
<tr>
	<td>Kujibiki Unbalance</td>
	<td>3</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Kujibiki♥Unbalance</td>
	<td>12</td>
	<td>TV</td>
	<td>5</td>
	</tr>
<tr>
	<td>Lost Forest</td>
	<td>1</td>
	<td>Music</td>
	<td>7</td>
	</tr>
<tr>
	<td>Lucky☆Star</td>
	<td>24</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Lucky☆Star OVA</td>
	<td>1</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Lupin III</td>
	<td>23</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Lupin III: Pilot Film</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Lycoris Recoil</td>
	<td>13</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Macross: Do You Remember Love?</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Mado</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Mahou Shoujo Madoka★Magica</td>
	<td>12</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Mahou Shoujo Madoka★Magica Movie 1</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Mahou Shoujo Madoka★Magica Movie 3
	</td><td>1</td>
	<td>Movie</td>
	<td>9</td>
	</tr>
<tr>
	<td>Majo no Takkyuubin (Kiki's Delivery Service)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Majokko Club Yoningumi: A Kuukan kara no Alien X</td>
	<td>1</td>
	<td>OVA</td>
	<td>5</td>
	</tr>
<tr>
	<td>Makai Toshi Shinjuku</td>
	<td>1</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Manga</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Mars Red</td>
	<td>13</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Masuda Kousuke Gekijou Gag Manga Biyori</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Masuda Kousuke Gekijou Gag Manga Biyori 2</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
        <td>Metallic Rouge</td>
	<td>13</td>
	<td>TV</td>
	<td>6</td>
<tr>
	<td>Mieruko-chan</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Mimi wo Sumaseba (Whisper of the Heart)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Mind Game</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Mirai Nikki (Future Diary)</td>
	<td>26</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Mirai no Mirai</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Mofumofuiction</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Mononoke Hime (Princess Mononoke)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Monster Musume no Iru Nichijou</td>
	<td>12</td>
	<td>TV</td>
	<td>3</td>
	</tr>
<tr>
	<td>Motto To LOVE-Ru</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Mushishi</td>
	<td>26</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Neko no Ongaeshi (The Cat Returns)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Neon Genesis Evangelion</td>
	<td>26</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Netoge no Yome wa Onnanoko ja Nai to Omotta?</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>New Game!</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>New Game! OVA</td>
	<td>1</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>New Game!!</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Ni-hiki no Sanma</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Ningen Doubutsuen</td>
	<td>1</td>
	<td>Movie</td>
	<td>4</td>
	</tr>
<tr>
	<td>Noblesse: Awakening</td>
	<td>1</td>
	<td>ONA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Noragami</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Noragami Aragoto</td>
	<td>13</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Noragami OVA</td>
	<td>2</td>
	<td>OVA</td>
	<td>8</td>
	</tr>
<tr>
	<td>Noragami Aragoto OVA</td>
	<td>2</td>
	<td>OVA</td>
	<td>8</td>
	</tr>
<tr>
	<td>Odoroki Ban</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Omake</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Onigiri</td>
	<td>13</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Ore, Tsushima</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Ore, Tsushuma (ONA)</td>
	<td>93</td>
	<td>ONA</td>
	<td>5</td>
	</tr>
<tr>
        <td>Oshi no Ko</td>
        <td>11</td>
        <td>TV</td>
        <td>7</td>
        </tr>
<tr>
	<td>Paprika</td>
	<td>1</td>
	<td>Movie</td>
	<td>10</td>
	</tr>
<tr>
	<td>Perfect Blue</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Persona 2: Another Self</td>
	<td>1</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Persona 4 the Animation</td>
	<td>25</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Persona 4 the Animation: No One is Alone</td>
	<td>1</td>
	<td>Special</td>
	<td>9</td>
	</tr>
<tr>
	<td>Persona 4 the Animation: The Factor of Hope</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Persona 4 the Golden Animation</td>
	<td>12</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Persona 4 the Golden Animation: Thank you Mr. Accomplice</td>
	<td>1</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Persona 5 the Animation: The Day Breakers</td>
	<td>1</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Petshop of Horrors</td>
	<td>4</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Phantasy Star Online 2 The Animation</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Pokemon: The First Movie</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>	
<tr>
	<td>Pokemon Movie 2000</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Pokemon Movie 3</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Pokemon: Pikachu's Winter Vacation</td>
	<td>2</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Pokemon: Pikachu's Winter Vacation (2000)</td>
	<td>2</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Pokemon: Pikachu's Summer Vacation</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Pop</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Promare: Galo-hen</td>
	<td>1</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Promare: Lio-hen</td>
	<td>1</td>
	<td>ONA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Puso Ni Comi</td>
	<td>20</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Re:Zero</td>
	<td>25</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Rosario + Vampire</td>
	<td>13</td>
	<td>TV</td>
	<td>7
	</td></tr>
<tr>
	<td>Rosario + Vampire Capu2</td>
	<td>13</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Saiki K.</td>
	<td>120</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Samurai Champloo</td>
	<td>26</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Satsujinkyou Jidai</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Scoopers</td>
	<td>1</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Sei Michaela Gakuen Hyouryuuki II (Sins of the Sisters)</td>
	<td>2</td>
	<td>OVA</td>
	<td>3</td>
	</tr>
<tr>
	<td>Sen to Chihiro no Kamikakushi (Spirited Away)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Sennen Joyuu (Millennium Actress)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Serial Experiments Lain</td>
	<td>13</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Shadows House</td>
	<td>13</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Shadows House 2nd Season</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Shigatsu wa Kimi no Uso (Your Lie in April)</td>
	<td>22</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Shin Megami Tensei: Tokyo Revelation</td>
	<td>2</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Shingetsutan Tsukihime (Lunar Legend Tsukihime)</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Shonan Junai Gumi!</td>
	<td>5</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
        <td>SKET Dance</td>
        <td>77</td>
        <td>TV</td>
        <td>9</td>
        </tr>
<tr>
	<td>Sonny Boy</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Sono Bisque Doll wa Koi wo Suru (My Dress-Up Darling)</td>
	<td>12</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Sora no Otoshimono (Heaven's Lost Property)</td>
	<td>13</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Sora no Otoshimono: Project Pink</td>
	<td>1</td>
	<td>OVA</td>
	<td>5</td>
	</tr>
<tr>
	<td>Star Fox Zero: The Battle Begins</td>
	<td>1</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Steins;Gate</td>
	<td>24</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Summer Ghost</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Super Mario Brothers: Great Mission to Rescue Princess Peach</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Super Mario World: Mario &amp; Yoshi's Adventure Land</td>
	<td>1</td>
	<td>OVA</td>
	<td>5</td>
	</tr>
<tr>
	<td>Suzumiya Haruhi no Shoushitsu (The Disappearance of Haruhi Suzumiya)</td>
	<td>1</td>
	<td>Movie</td>
	<td>9</td>
	</tr>
<tr>
	<td>Suzumiya Haruhi no Yuuutsu (The Melancholy of Haruhi Suzumiya)</td>
	<td>14</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Suzumiya Haruhi no Yuuutsu (2009)</td>
	<td>14</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Takt Op. Destiny</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tales of Symphonia The Animation: Sekai Tougou-hen</td>
	<td>3</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tales of Symphonia The Animation: Sekai Tougou-hen Specials</td>
	<td>3</td>
	<td>Special</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tales of Symphonia The Animation: Sylvarant-hen</td>
	<td>4</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tales of Symphonia The Animation: Tethe'alla-hen</td>
	<td>4</td>
	<td>OVA</td>
	<td>8</td>
	</tr>
<tr>
	<td>Tantei wa Mou, Shindeiru. (The Detective is Already Dead)</td>
	<td>12</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tengoku Daimakyou</td>
	<td>13</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tenki no Ko (Weathering With You)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tenkuu no Shiro Laputa (Castle in the Sky)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>The Bathroom</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>The Deer King</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>The iDOLM@STER</td>
	<td>25</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>The iDOLM@STER Shiny Festa</td>
	<td>3</td>
	<td>OVA</td>
	<td>7</td>
	</tr>
<tr>
	<td>The iDOLM@STER: 765 Pro to Iu Monogatari</td>
	<td>1</td>
	<td>Special</td>
	<td>9</td>
	</tr>
<tr>
	<td>To LOVE-Ru</td>
	<td>26</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>To LOVE-Ru OVA</td>
	<td>6</td>
	<td>OVA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Toki wo Kakeru Shoujo (The Girl Who Leapt Through Time)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tokyo Ghoul</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Tokyo Ghoul √A</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>	
<tr>
	<td>Tokyo Godfathers</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>
<tr>
	<td>Tokyo Revengers</td>
	<td>24</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Tokyo Revengers: Seiya Kessen-hun</td>
	<td>13</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
      <td>Tokyo Revengers: Tenjiku-hen</td>
      <td>13</td>
      <td>TV</td>
      <td>9</td>
      </tr>
<tr>
	<td>Tonari no Totoro (My Neighbor Totoro)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>	
<tr>
	<td>Tonari no Yarou</td>
	<td>1</td>
	<td>Movie</td>
	<td>5</td>
	</tr>
<tr>
	<td>Trigun</td>
	<td>26</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Trigun: Badlands Rumble</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tsuki to Laika to Nosferatu (Irina: The Vampire Cosmonaut)</td>
	<td>12</td>
	<td>TV</td>
	<td>6</td>
	</tr>
<tr>
	<td>Uramichi Oniisan</td>
	<td>13</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Vampire Hunter D</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Vinland Saga</td>
	<td>24</td>
	<td>TV</td>
	<td>7</td>
	</tr>
<tr>
	<td>Vinland Saga Season 2</td>
	<td>24</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Vinland Saga Season 2: Drowning in the Shadow</td>
	<td>1</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Violet Evergarden</td>
	<td>13</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Welcome to the N.H.K.!</td>
	<td>24</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Wonder Egg Priority</td>
	<td>12</td>
	<td>TV</td>
	<td>8</td>
	</tr>	
<tr>
	<td>Wonder Egg Priority: Watashi no Priority</td>
	<td>1</td>
	<td>Special</td>
	<td>8</td>
	</tr>	
<tr>
	<td>X/1999</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Yasuke</td>
	<td>6</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Yinhun x KFC</td>
	<td>1</td>
	<td>ONA</td>
	<td>6</td>
	</tr>
<tr>
	<td>Yodomi no Sawagi</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Yoru wa Mijikashi Arukeyo Otome (The Night is Short, Walk On Girl)</td>
	<td>1</td>
	<td>Movie</td>
	<td>8</td>
	</tr>	
<tr>
	<td>Yu☆Gi☆Oh!</td>
	<td>27</td>
	<td>TV</td>
	<td>8</td>
	</tr>	
<tr>
	<td>Yu☆Gi☆Oh! (Movie)</td>
	<td>1</td>
	<td>Movie</td>
	<td>7</td>
	</tr>
<tr>
	<td>Yuu☆Yuu☆Hakusho</td>
	<td>112</td>
	<td>TV</td>
	<td>9</td>
	</tr>
<tr>
	<td>Yuu☆Yuu☆Hakusho (Movie)</td>
	<td>1</td>
	<td>Movie</td>
	<td>6</td>
	</tr>
<tr>
	<td>Yuukoku no Moriarty</td>
	<td>11</td>
	<td>TV</td>
	<td>8</td>
	</tr>
<tr>
	<td>Zankyou no Terror (Terror in Resonance)</td>
	<td>11</td>
	<td>TV</td>
	<td>8</td>
	</tr>
</tbody>
</table>
<br>
<h1 id="hold"><b>On Hold</b></h1>
<hr>
<table>
	<thead>
	<tr>
	<th>Title</th>
	<th>Progress</th>
	<th>Format</th>
	</tr>
	</thead>
	<tbody>
<tr>
	<td>Fullmetal Alchemist: Brotherhood</td>
	<td>11/64</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Higurashi no Naku Koro ni Gou</td>
	<td>6/24</td>
	<td>TV</td>
	</tr>
<tr>
	<td>InuYasha</td>
	<td>19/167</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Konjiki no Gash Bell!! (Zatch Bell)</td>
	<td>56/150</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Monster</td>
	<td>6/74</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shaman King (2021)</td>
	<td>14/52</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Sonic X</td>
	<td>2/78</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Steins;Gate 0</td>
	<td>3/23</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Touhou Niji Sousaku Doujin Anime: Musou Kakyou</td>
	<td>4/-</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Yu☆Gi☆Oh! Duel Monsters</td>
	<td>8/224</td>
	<td>TV</td>
	</tr>
	</tbody>
</table>
<br>
<h1 id="dropped"><b>Dropped</b></h1>
<hr>
<table>
	<thead>
	<tr>
	<th>Title</th>
	<th>Progress</th>
	<th>Format</th>
	</tr>
	</thead>
	<tbody>
<tr>
	<td>Arifureta Shokugyou de Sekai Saikyou</td>
	<td>1/13</td>
	<td>TV</td>
	</tr>
<tr>
      <td>Ore dake Level Up na Ken</td>
      <td>6/12</td>
      <td>TV</td>
      </tr>
	</tbody>
</table>
<br>
<h1 id="plantowatch"><b>Plan to Watch</b>  <small><code>Total: 511</code></small></h1>
<hr>
<table>
	<thead>
	<tr>
	<th>Title</th>
	<th>Format</th>
	</tr>
	</thead>
	<tbody>
<tr>
	<td>1000-nen Joou: Queen Millennia</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>18if</td>
	<td>TV</td>
	</tr>
<tr>
	<td>3-gatsu no Lion</td>
	<td>TV</td>
	</tr>
<tr>
	<td>86 Special Edition: Senya ni Akaku Hinageshi no Saku</td>
	<td>Special</td>
	</tr>
<tr>
	<td>91 Days</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Aa! Megami-sama! (2011)</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Aa! Megami-sama! (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Aa! Megami-sama! Movie</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Aachi wa Ssipak</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>ACCA: 13-ku Kansatsu-ka</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Accel World</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Adachi to Shimamura</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Afro Samurai</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ai Yori Aoshi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Air Gear</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Airs</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Akai Koudan Zillion</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Akame ga Kill!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Akiba Meido Sensou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Akudama Drive</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Alien 9</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Amada Anime Series: Super Mario Brothers</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Amagi Brilliant Park</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Angel Beats!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Angel Cop</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Ano Natsu de Matteru</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Another</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ansatsu Kyoushitsu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ansatsu Kyoushitsu 2nd Season</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ansatsu Kyoushitsu: 365-nichi no Jikan</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Ao no Exorcist</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ao no Exorcist: Kyoto Fujouou-hen</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Aoi Bungaku Series</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Appleseed</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Arete Hime</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Aria the Animation</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Armitage III</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Armitage III: Dual-Matrix</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Armitage III: Poly-Matrix</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Arslan Senki (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>B-Legend! Battle B-Daman</td>
	<td>TV</td>
	</tr>
<tr>
	<td>B: The Beginning</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Bakuman.</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bakuretsu Hunters</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bakuretsu Tenshi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Banana Fish</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Barakamon</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bayonetta: Bloody Fate</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Beelzebub</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bio Hunter</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Biohazard: Damnation</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Birthday Wonderland</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Black Clover</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Black Clover: Mahou Tei no Ken</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Black Jack</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Black Lagoon: Roberta's Blood Trail</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Black Lagoon: The Second Barrage</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Black Magic M-66</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Blade of the Immortal</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Blame! Movie</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Bleach</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bleach Movie 1: Memories of Nobody</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Bleach Movie 2: The DiamondDust Rebellion</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Bleach Movie 3: Fade to Black</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Bleach Movie 4: Jigoku-hen</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Bleach: The Sealed Sword Frenzy</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Blood Lad</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Blue Dragon</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Blue Seed</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bobobo-bo Bo-bobo</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Boku dake ga Inai Machi</td>
	<td>TV</td>
</tr><tr>
	<td>Boku no Chikyuu wo Mamotte</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Boku wa Tomodachi ga Sukunai</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Boogiepop wa Warawanai</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Boogiepop wa Warawanai (2019)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Brave Witches</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Brotherhood: Final Fantasy XV</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Bubblegum Crisis Tokyo 2040</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bungou Stray Dogs</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bungou Stray Dogs 2nd Season</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bungou Stray Dogs 3rd Season</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Bungou Stray Dogs: Dead Apple</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Burn the Witch</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Busou Renkin</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Busou Shinki</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Byousoku 5 Centimeter</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>C: The Money of Soul and Possibility Control</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Cardcaptor Sakura</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Carnival Phantasm</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Charlotte</td>
	<td>TV</td>
	</tr>
<tr>
	<td>ChaoS;Child</td>
	<td>TV</td>
	</tr>
<tr>
	<td>ChaoS;HEAd</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Chibi Revenger</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Chiisana Eiyuu: Kani to Tamago to Toumei Ningen</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Chrno Crusade</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Chuunibyou demo Koi ga Shitai!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>City Hunter '91</td>
	<td>TV</td>
	</tr>
<tr>
	<td>City Hunter 2</td>
	<td>TV</td>
	</tr>
<tr>
	<td>City Hunter 3</td>
	<td>TV</td>
	</tr>
<tr>
	<td>City Hunter Movie: Tenshi no Namida</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>City Hunter: The Secret Service</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Clannad</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Claymore</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Code Geass: Boukoku no Akito 2 - Hikisakareshi Yokuryuu</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Code Geass: Boukoku no Akito 3 - Kagayaku Mono Ten yori Otsu</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Code Geass: Boukoku no Akito 4 - Nikushimi no Kioku kara</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Code Geass: Boukoku no Akito 5 - Itoshiki Mono-tachi e</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Code Geass: Hangyaku no Lelouch - Kiseki no Birthday</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Code Geass: Hangyaku no Lelouch I - Koudou</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Code Geass: Hangyaku no Lelouch II - Handou</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Code Geass: Hangyaku no Lelouch III - Oudou</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Code:Breaker</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Coppelion</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Crayon Shin-chan</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Crush Gear Nitro</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Cyber City Oedo 808</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>D.Gray-man</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Dagashi Kashi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Dallos</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Dance in the Vampire Bund</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Danganronpa: Kibou no Gakuen to Zetsubou no Koukousei The Animation</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Dantalian no Shoka</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Darker than Black: Kuro no Keiyakusha</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Darker than Black: Kuro no Keiyakusha Gaiden</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Darker than Black: Ryuusei no Gemini</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Date A Live</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Deadman Wonderland</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Death Note: Rewrite</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Death Parade</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Demashita! Powerpuff Girls Z</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Denpa Onna to Seishun Otoko</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Denpa-teki na Kanojo</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Devidol!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Devil May Cry</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Devil Survivor 2 The Animation</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Devilman: Crybaby</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Doraemon</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Doraemon (1979)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Dorohedoro</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Dororo</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Dr. Slump: Arale-chan</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Dr. Stone</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Durarara!!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Durarara!!x2 Ketsu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Durarara!!x2 Shou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Edens Zero</td>
	<td>TV</td>
	</tr>
<tr>
	<td>El Hazard: The Magnificent World</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Erementar Gerad</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Escaflowne</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Fantasy Bishoujo Juniku Ojisan to</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Fate/stay night</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Fate/stay night Movie: Heaven's Feel - I. Presage Flower</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Fate/stay night Movie: Heaven's Feel - II. Lost Butterfly</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Fate/stay night Movie: Heaven's Feel - III. Spring Song</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Fate/stay night Movie: Unlimited Blade Works</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Fate/stay night: Unlimited Blade Works</td>
	<td>TV</td>
	</tr>
<tr>
	<td>FLCL: Grunge</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Freezing</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Fruits Basket</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Full Metal Panic!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Fushigi no Umi no Nadia</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Fushigi Yuugi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Fushigi Yuugi OVA</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Futoku no Guild</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ga-Rei: Zero</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gall Force 1: Eternal Story</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Garo: Honoo no Kokuin</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gasaraki</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gate: Jieitai Kanochi nite, Kaku Tatakaeri</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gekkan Shoujo Nozaki-kun</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Genocyber</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Gin no Saji</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ginga Eiyuu Densetsu</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Ginga Tetsudou 999</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gintama.</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gintama.: Porori-hen</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gintama.: Shirogane no Tamashii-hen</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gintama.: Shirogane no Tamashii-hen - Kouhan-sen</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ginama: The Final</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Gintama: The Semi-Final</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Gintama°: Aizome Kaori-hen</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Girls Brave: First Season</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Given</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gleipnir</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Golgo 13</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Golgo 13 (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Golgo 13: Queen Bee</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Gosick</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Grappler Baki (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Guilty Crown</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Gunnm</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Gyakyusatsu Kikan</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Gyo</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Hanebado!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hataraku Maou-sama!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hataraku Maou-sama!!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hataraku Saibou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hatenkou Yuugi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hayate no Gotoku!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Heya Camp</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hibike! Euphonium</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hibike! Euphonium 2</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hidamari Sketch</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Highschool of the Dead</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Higurashi no Naku Koro ni Kai</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Higurashi no Naku Koro ni Rei</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Higurashi no Naku Koro ni Sotsu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hikaru no Go</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hirune Hime: Shiranai Watashi no Monogatari</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Horimiya</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hoshi no Kirby</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hoshi no Samidare</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hoshi no Samidare: Zenhan-sen</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Hunter x Hunter</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Hunter x Hunter (2011)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ichiban Ushiro no Daimaou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ichigeki Sacchuu!! Hoihoi-san</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Idaten Jump</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ijiranaide, Nagatoro-san 2nd Attack</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Initial D First Stage</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Initial D Second Stage</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Initial D Third Stage</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Initial D Fourth Stage</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Inukami!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>InuYashi Movie 2: Kagami no Naka no Mugenjo</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>InuYasha Movie 3: Tenka Hadou no Ken</td>
	<td>TV</td>
	</tr>
<tr>
	<td>InuYasha Movie 4: Guren no Houraijima</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Inuyashiki</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Isekai no Seikishi Monogatari</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Ito Junji: Maniac</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Jigoku Sensei Nube</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Jigoku Sensei Nube OVA</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Jigoku Shoujo</td>
	<td></td>
	</tr>
<tr>
	<td>Jikan no Shihaisha</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Jin-Rou</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>JoJo no Kimyou na Bouken</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Juuni Taisen</td>
	<td>TV</td>
	</tr>
<tr>
	<td>K</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kaiba</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kaizoku Oujo</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kakegurui</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kanojo, Okarishimasu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Karasu Tengu Kabuto</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kaze no Na wa Amnesia</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Kampfer</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Keijo!!!!!!!!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kekkai Sensen</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kemonozume</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kenpuu Denki Berserk</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Keroro Gunsou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Key the Metal Idol</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Kidou Keisatsu Patlabor</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Kidou Senshi Gundam 00</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kidou Senshi Gundam F91</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Kidou Senshi Gundam SEED</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kidou Senshi Gundam SEED Destiny</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kidou Senshi Gundam Unicorn RE:0096</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kidou Tenshi Angelic Layer</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kimi ni Todoke</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kingsglaive: Final Fantasy XV</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Kiseijuu: Sei no Kakuritsu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Knight's &amp; Magic</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kobayashi-san Chi no Maid Dragon S: Nippon no Omotenashi - Attend wa Dragon desu</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Konjiki no Gash Bell!!:101 Banme no Mamono</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Konjiki no Gash Bell!!: MEcha Vulkan no Raishuu</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Kono Sekai no Katasumi ni</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Kono Subarashii Sekai ni Shukufuku wo! Movie: Kurenai Densetsu</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Koukaku no Pandora</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Koukyoushihen Eureka Seven</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Koutetsujou no Kabaneri</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kuragehime</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kuroshitsuji</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kyomu Senshi Miroku</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Kyoukai no Kanata</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kyousou Giga</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Kyousou Giga (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Kyuukyoku Shinka shita Full Dive RPG ga Genjitsu yori mo Kusoge Dattara</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Le Chevalier D'Eon</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Level E</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Little Busters!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Little Witch Academia (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Lodoss-tou Senki</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Log Horizon</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Log Horizon 2nd Season</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Log Horizon: Entaku Houkai</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Love Live! School Idol Project</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Lovely★Complex</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Lupin III: Cagliostro no Shiro</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Macross</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Macross 7</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Macross F</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Macross  Δ</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Macross  Δ Movie: Gekijou no Walkure</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Macross  Δ Movie 2: Zettai Live!!!</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Macross Plus</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Macross Zero</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Made in Abyss</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Magic Knight Rayearth</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Maji de Watashi ni Koi Shinasai!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Majo no Tabitabi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Maramalade Boy</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Master Keaton</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Medarot</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Memories</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Metropolis</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Michiko to Hatchin</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Midnight Eye: Gokuu</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Mikagura Gakuen Kumikyoku (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Mnemosyne: Mnemosyne no Musume-tachi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Mob Psycho 100</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Mob Psycho 100 II</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Mononoke</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Monster Hunter Stories: Ride On</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Mugen no Juunin: Immortal</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Mugen no Ryvius</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Musekinin Kanchou Tylor</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Mushishi Zoku Shou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Mutafukaz</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Naruto</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Naruto: Shippuuden</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Natsume Yuujinchou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Neon Genesis Evangelion: Death &amp; Rebirth</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Neon Genesis Evangelion: The End of Evangelion</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Nichijou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>NieR: Automata Ver1.1a</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Night Head 2041</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Night Head Genesis</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ninja Slayer From Animation</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Nisekoi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Noblesse</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Nobunagun</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Noir</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Occultic;Nine</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ochikobore Fruit Tart</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Omae Umasou da na</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Omoide Poroporo</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Ongaku - Our Sound</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Oniichan dakedo Ai sae Areba Kankeinai yo ne!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Onipan!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ore no Kanojo to Osananajimi ga Shuraba Sugiru</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Oruchuban Ebichu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>OVerlord</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Overlord II</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Overlord III</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Overlord IV</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Owari no Seraph</td>
	<td>TV</td>
	</tr>
<tr>
        <td>Paranoia Agent</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Peace Maker Kurogane</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Persona 3 the Movie 1: Spring of Birth</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Persona 3 the Movie 2: Midsummer Knight's Dream</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Persona 3 the Movie 3: Falling Down</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Persona 3 the Movie 4: Winter of Rebirth</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Persona 5 the Animation</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Persona: Trinity Soul</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Pet</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Phantom in the Twilight</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Pikmin Short Movies</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Pokemon Advanced Generation</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Pokemon Crystal: Raikou Ikazuchi no Densetsu</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Pokemon: The Origin</td>
	<td>Special</td>
	</tr>
<tr>
	<td>Princess Principal</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Pro Golfer Saru (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Project ARMS</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Promare</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Psycho-Pass</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Psycho-Pass 2</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Psycho-Pass 3</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Quanzhi Fashi</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Radiant</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Radiant 2nd Season</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ranma 1/2</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Re:Zero 2nd Season</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Re:Zero 2nd Season Part 2</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Re:Zero 3rd Season</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Regalia: The Three Sacred Stars</td>
	<td>TV</td>
	</tr>
<tr>
	<td>ReLIFE</td>
	<td>TV</td>
	</tr>
<tr>
	<td>RG Veda</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Rikei ga Koi ni Ochita no de Shoumei shitemita.</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Robot Carnival</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Rockman.EXE</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Runway de Waratte</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Rurouni Kenshin: Meiji Kenkaku Romantan</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>s.CRY.ed</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Saber Marionette J</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Saenai Heroine no Sodatekata</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Saint Seiya</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Sakugan</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Samurai 7</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Sankarea</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Saraiya Goyou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Satsuriku no Tenshi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Sayonara Watashi no Cramer</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Scarlet Nexus</td>
	<td>TV</td>
	</tr>
<tr>
	<td>School Rumble</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Seihou Bukyou Outlaw Star</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Sekai Seifuku: Bouryaku no Zvezda</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Sengoku Kitan Youtouden</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Sentouin, Hakensimasu!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shaman King</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shiki</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shikioriori</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Shin Kidou Senki Gundam Wing</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shin Megami Tensei Devil Children</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shin Megami Tensei Devil Children: Light &amp; Dark</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shingeki no Bahamut: Genesis</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shingeki no Bahamut: Virgin Soul</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shingeki no Kyojin</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shingeki no Kyojin OVA</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Shinrei Tantei Yakumo</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shirokuma Cafe</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shoujo Kakumei Utena</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shuumatsu Nani Shitemasu ka? Isogashii desu ka? Sukutte Moratte Ii desu ka?</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Shuumatsu no Walkure</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Slayers</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Slayers Revolution</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Sono Bisque Doll wa Koi wo Suru (Zoku-hen)</td>
	<td>Unknown</td>
	</tr>
<tr>
	<td>Sora no Otoshimono Forte</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Sora yori mo Tooi Basho</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Soukihei MD Geist</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Soul Eater</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Space☆Dandy</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Starship Operators</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Steins;Gate Movie: Fuka Ryouiki no Deja vu</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Street Fighter II Movie</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Street Fighter II V</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Strike Witches</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Summer Wars</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Sunabouzu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Suzumiya Haruhi-chan no Yuuutsu</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Taiho Shichau zo</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Taiho Shichau zo (TV)</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tales of Zestiria the Cross</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tantei Opera Milky Holmes</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tari Tari</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Teekyuu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tekkon Kinkreet</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Tengen Toppa Gurren Lagann</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tenkuu no Escaflowne</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tenkuu Shinpan</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Tenshi no Tamago</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Terra Formars</td>
	<td>TV</td>
	</tr>
<tr>
	<td>The Big O</td>
	<td>TV</td>
	</tr>
<tr>
	<td>The God of High School</td>
	<td>TV</td>
	</tr>
<tr>
	<td>The IDOLM@STER Shiny Colors</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tokimemo Memorial: Forever With You</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>To LOVE-Ru Darkness</td>
	<td>TV</td>
	</tr>
<tr>
	<td>To LOVE-Ru Darkness 2nd</td>
	<td>TV</td>
	</tr>
<tr>
	<td>To LOVE-Ru Darkness 2nd OVA</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>To LOVE-Ru Darkness 2nd Specials</td>
	<td>Special</td>
	</tr>
<tr>
	<td>To Love-Ru Darkness OVA</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Toaru Kagaku no Accelerator</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Toaru Kagaku no Railgun</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Toaru Majutsu no Index</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Toji no Miko</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tokkou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tokyo Babylon</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Tokyo ESP</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tokyo Ghoul:re</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tokyo UNderground</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tonari no Kaibutsu-kun</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Toradora!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tottoko Hamtarou</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Trigun Stampede</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Tsuki ga Michibiku Isekai Douchuu</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Uchiage Hanabi, Shita kara Miru ka? Yoko kara Miru ka?</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Uchuu no Kishi Tekkaman Blade</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Udon no Kuni no Kiniro Kemari</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Ura Sekai Picnic</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Urusei Yatsura OVA</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Uzumaki</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Vampire Hunter D (2000)</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Vampire Knight</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Vandread</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Venus Senki</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Vivy: Fluorite Eye's Song</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Wakaokami wa Shougakusei! Movie</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>White Album 2</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Witch Hunter Robin</td>
	<td>TV</td>
	</tr>
<tr>
	<td>World Trigger</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Wotaku ni Koi wa Muzukashii</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Wu Liuqi: Zui Qiang Fa Xing Shi</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>X</td>
	<td>TV</td>
	</tr>
<tr>
	<td>X OVA</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>xxxHOLiC</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yahari Ore no Seishun Love Comedy wa Machigateiru.</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yahari Ore no Seishun Love Comedu wa Machigatteiru. Zoku</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yamada-kun to 7-nin no Majo</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yawara!</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yojouhan Shinwa Taikei</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yojouhan Time Machine Blues</td>
	<td>ONA</td>
	</tr>
<tr>
	<td>Yoru no Yatterman</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Youjuu Toshi</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Yozakuza Quartet</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yozakuza Quartet: Hana no Uta</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yozakuza Quartet: Hoshi no Umi</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Yozakuza Quartet: Tsuki ni Naku</td>
	<td>OVA</td>
	</tr>
<tr>
	<td>Yu☆Gi☆Oh!: Hikari no Pyramid</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Yuru Camp</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yuu☆Yuu☆Hakusho: Meikai Shitou-hen - Honoo no Kizuna</td>
	<td>Movie</td>
	</tr>
<tr>
	<td>Yuukoku no Moriarty Part 2</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yuusha ni Narenakatta Ore wa Shibushibu Shuushoku wo Ketsui Shimashita.</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Yuyushiki</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Zero no Tsukaima</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Zero no Tsukaima F</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Zero no Tsukaima: Futatsuki no Kishi</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Zero no Tsukaima: Princesses no Rondo</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Zetsuen no Tempest</td>
	<td>TV</td>
	</tr>
<tr>
        <td>Zom 100: Bucket List of the Dead</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Zombieland Saga</td>
	<td>TV</td>
	</tr>
<tr>
	<td>Zombieland Saga Revenge</td>
	<td>TV</td>
	</tr>
</tbody>
</table>
