---
layout: photos
title: Hayden White's photo archive - 06/2015

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201505"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201507">Next >></a></p>
<p style="color:lime; text-align:center;">June 2015</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/0136.jpg" />
<img src="/photos/0137.jpg" />
<img src="/photos/0138.jpg" />
<img src="/photos/0139.jpg" />
<img src="/photos/0140.jpg" />
<img src="/photos/0141.jpg" />
<img src="/photos/0142.jpg" />
<img src="/photos/0143.jpg" />
<img src="/photos/0144.jpg" />
<img src="/photos/0145.jpg" />
<img src="/photos/0146.jpg" />
<img src="/photos/0147.jpg" />
<img src="/photos/0148.jpg" />
<img src="/photos/0149.jpg" />
<img src="/photos/0150.jpg" />
<img src="/photos/0151.jpg" />
<img src="/photos/0152.jpg" />
<img src="/photos/0153.jpg" />
<img src="/photos/0154.jpg" />
<img src="/photos/0155.jpg" />
<img src="/photos/0156.jpg" />
<img src="/photos/0157.jpg" />
<img src="/photos/0158.jpg" />
<img src="/photos/0159.jpg" />
<img src="/photos/0160.jpg" />
<img src="/photos/0161.jpg" />
<img src="/photos/0162.jpg" />
<img src="/photos/0163.jpg" />
<img src="/photos/0164.jpg" />
<img src="/photos/0165.jpg" />
<img src="/photos/0166.jpg" />
<img src="/photos/0167.jpg" />
<img src="/photos/0168.jpg" />
<img src="/photos/0169.jpg" />
<img src="/photos/0170.jpg" />
<img src="/photos/0171.jpg" />
<img src="/photos/0172.jpg" />
<img src="/photos/0173.jpg" />
<img src="/photos/0174.jpg" />
</div>
<a href="/photos/archive/201505"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201507">Next >></a></p>

