---
layout: photos
title: Hayden White's photo archive - 01/2020

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201912"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/202002">Next >></a></p>
<p style="color:lime; text-align:center;">January 2020</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2625.jpg" />
<img src="/photos/2626.jpg" />
<img src="/photos/2627.jpg" />
<img src="/photos/2628.jpg" />
<img src="/photos/2629.jpg" />
<img src="/photos/2630.jpg" />
<img src="/photos/2631.jpg" />
<img src="/photos/2632.jpg" />
<img src="/photos/2633.jpg" />
</div>
<a href="/photos/archive/201912"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/202002">Next >></a></p>

