---
layout: default
title: Tags for Hayden White's posts/articles
---
<style>
body{
background-image:url("/photos/bg/post_background.jpg");
background-color:black;
}
code{
color:pink;
}
summary{
color:white;
}
</style>
<div class="box">
<h1 class="subheaders"><ins>Posts & Articles by tag</ins></h1>
<p style="text-align:center;color:pink;">Click on a tag below to see the corresponding posts.</p><br>

{% for tag in site.tags %}
<details>
<summary><h3 class="subheaders">{{ tag[0] }}</h3></summary>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul></details>
{% endfor %}
</div>
