---
layout: photos
title: Hayden White's photo archive - 08/2020

---
<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    margin: 60px auto;
    width: 70%;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/202002"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/202009">Next >></a></p>
<p style="color:lime; text-align:center;">August 2020</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2643.jpg" />
<img src="/photos/2644.jpg" />
<img src="/photos/2645.jpg" />
</div>
<a href="/photos/archive/202002"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/202009">Next >></a></p>

