---
layout: default
title: Hayden White's Microblog
---
<style>
body{
    background-image: url("/photos/bg/mb_background.jpg");
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 110%;
}
code{
color:pink;
}
p{
font-size:150%;
}
ul{
color:aqua;
}
</style>
<div class="box">
<img src="/photos/header/mb_avi.png" style="display:block;margin:auto;" />
	<h2 style="text-align:center;">Hayden White's Microblog</h2>
	<p style="text-align:center;font-size:100%;"><code><small><a href="/microblog/atom.xml">Microblog RSS/Atom Feed</a> | <a href="/articles">Articles</a></code></small><br><br></p>
	<ul class="posts">
	  {% for post in site.posts %}
	  {% if post.category == 'microblog' %}
	    <li><span><code>{{ post.date | date_to_string }}</code></span> ~ {{ post.title }}</li>
	   {{ post.content }}<br>
	    {% endif %}
	  {% endfor %}
	</ul>
</div>
