<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="Hayden White's personal site.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="/whiteVHS.gif">
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/marisainhat.gif" type="image/gif">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://voicedrew.xyz/wr/onionring.css">
  <link rel="stylesheet" href="/css/prism.css">
  <link rel="alternate" type="application/rss+xml" href="/articles/atom.xml" title="Hayden White's Articles">
</head>

<body>
<div class="headerwrapper">
<div class="header">
<h1 class="title"></h1>
</div>

<div class="nav">
<ul>
<li><a href="/">Home</a></li>

<li><div class="dropdown"><a class="dropbtn">About</a><div class="dropdown-content">
<a href="/about">About Me</a>
<a href="/about/setup">My Setup</a>
<a href="/now">Now</a></div></div></li>
<li><a href="/music">Music</a></li>
<li><div class="dropdown"><a class="dropbtn">Writing</a><div class="dropdown-content">
<a href="/articles">Articles</a>
<a href="/microblog">Microblog</a></div></div></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/sitemap">Sitemap</a></li>
</ul>
</div>
<script src="/prism.js"></script>
</div>
<div class="mainwrapper">

{{ content }}

<footer>
	    <p style="text-align:center;"><small><b>Unlicense 2022-2025, Hayden White</b></small></p>
	    <ul>
<li><a href="https://haydenwhite.bandcamp.com/music" target="_blank" rel="noopener noreferrer"><img alt="official bandcamp" src="/photos/footer/whiteVHS.gif" title="white VHS official bandcamp"></a></li>
	    <li><a href="https://www.virtualgalleria.net/" target="_blank" rel="noopener noreferrer"><img src="/photos/footer/vg-nt.gif" style="width:88px;height:31px;" title="Visit the Virtual Galleria!"></a></li>
	    <li><a href="https://kaarbs.xyz/manual/emacs" target="_blank" rel="noopener noreferrer"><img src="/photos/footer/gnu-emacs.gif" title="This page made with GNU Emacs"></a></li>
	    <li><img src="/photos/footer/google.gif" title="Fuck Off Google!"></li>
	    <li><img src="/photos/footer/privacy.gif" title="Internet Privacy Now!"></li>
  	    <li><img src="/photos/footer/sharing.gif" title="Sharing is caring!"></li>
	    <li><a href="https://archlinux.org/" target="_blank" rel="noopener noreferrer"><img src="/photos/footer/archlinux.gif" title="Arch Linux"></a></li>
	    <li><img src="/photos/footer/coffee.gif" title="Fueled by Coffee"></li>
	    <li><a href="https://redirect.invidious.io/watch?v=t0nW6ZcqxSc" target="_blank" rel="noopener noreferrer"><img src="/photos/footer/caramelldansen.gif" title="CARAMELLDANSEN"></a></li>
	    <li><a href="https://cadence.moe/blog/2020-06-06-why-you-shouldnt-trust-discord" target="_blank" rel="noopener noreferrer"><img src="/photos/footer/discord.gif" title="Discord Fucking Sucks"></a></li>
	    <li><img src="/photos/footer/phonechump.gif" title="Don't be a phone chump!"></li>
	    <li><a href="https://whitevhs.xyz"><img src="/photos/footer/bookmark.png" title="Bookmark this page now!"></a></li>
				</ul>

<!-- Webrings -->
<div id="tag-webring">
    <script type="text/javascript" src="https://voicedrew.xyz/wr/onionring-variables.js"></script>
    <script type="text/javascript" src="https://voicedrew.xyz/wr/onionring-widget.js"></script>
    <noscript>
    <p style="font-size:150%;text-align:center;"><a style="color:cyan;" href="https://foreverliketh.is/">←</a> | <a style="color:cyan;" href="https://voicedrew.xyz/wr" target="_blank"><b>Travelers of Agora Road Webring</b></a> | <a style="color:cyan;" href="https://h00.neocities.org/">→</a></p>
    </noscript>
</div>

<div id="hotline-webring">
    <p style="font-size:150%;text-align:center;"><a style="color:lime;" href="https://hotlinewebring.club/whitevhs/previous">←</a> | <a style="color:lime;" href="https://hotlinewebring.club" target="_blank"><b>Hotline Webring</b></a> | <a style="color:lime;" href="https://hotlinewebring.club/whitevhs/next">→</a></p>
</div>

<div id="geekring">
       <map name="geekringmap">
         <area shape="rect" coords="9,28,111,53" alt="Previous geekring site" href="http://geekring.net/site/332/previous">
         <area shape="rect" coords="248,28,350,53" alt="Random geekring site" href="http://geekring.net/site/332/random">
         <area shape="rect" coords="490,28,592,53" alt="Next geekring site" href="http://geekring.net/site/332/next">
         <area shape="rect" coords="465,6,566,22" alt="Main geekring site" href="http://geekring.net/">
     </map>
     <img style="display:block;margin:auto" src="http://geekring.net/banner/geek_1.jpg" alt="geekring.net navigation" usemap="#geekringmap">
  </div>
    </footer></div>
<p id="credit"><a href="https://repth.neocities.org/index.html">©repth</a></p>
</body>
	</html>

