<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>{{ page.title }}</title>
		<meta name="description" content="Hayden White's personal site.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:image" content="https://whitevhs.xyz/whiteVHS.gif">
    		<meta charset="utf-8">
		<link rel="shortcut icon" href="/marisainhat.gif" type="image/gif">
        <link rel="stylesheet" href="/css/old.css">
		<link rel="stylesheet" href="https://voicedrew.xyz/wr/onionring.css">
	</head>
	<body>
	<style>
.button {
  background-color: #000000;
  border: none;
  color: aqua;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
  border-radius: 25px;
  border: 2px solid #FF69B4;
}
.img-right {
	float: right
}
.img-left {
	float: left
}
.img-center {
	float: center;
	width: 40%;
}
.aside {
  width: 30%;
  padding-right: 30px;
  margin-left: 0px;
  float: left;
}
div.sticky {
  position: sticky;
  top: 0;
  border: 2px solid #4CAF50;
}
.wrapper {
  display: flex;
}

.main,
.sidebar {
  padding: 35px;
}

.main {
  width:1280px;
  flex:wrap;
  margin:auto;
}

.sidebar {
  height: 39vh;
  margin-left:-200px;
}
</style>
		<nav>
    		<ul>
			<li><button class="button"><a href="/" title="Hayden White's personal site">main</a></button></li>
			<li><button class="button"><a href="/about" title="About Hayden White">about</a></button></li>
			<li><button class="button"><a href="/music" title="Hayden White's music">music</a></button></li>
	    <li><button class="button"><a href="/articles" title="Hayden White's posts">posts</a></button></li>
      <li><button class="button"><a href="/photos/" title="Hayden White's photos">photos</a></button></li>
      <li><button class="button"><a href="/undo" title="222">undo</a></button></li>
			<li><button class="button"><a href="/contact" title="email me!">contact</a></button></li>
			<div class="img-right"><li><a href="https://virtualgalleria.net/"><img src="/photos/header/dianabust_rainbow.gif" title="e n j o y  y o u r  s t a y" width="55" height="78"></a></div></li>
    		</div>
		</ul>
		</nav>
		<div class="wrapper">
		<div class="sidebar" style="position: sticky; top: 0;">
      <ul>
	<li><p title="index" style="font-size:50%"><b><ins>インデックス</ins></b></p></li>
        <li><a href="/" title="Hayden White's personal site">main</a></li>
	<li><a href="/about" title="About Hayden White">about</a></li>
	<li><a href="/music" title="Hayden White's music">music</a></li>
	<li><a href="/music/cassettes" title="Hayden White's cassette releases">tapes</a></li>
	<li><a href="/articles" title="Hayden White's posts">posts</a></li>
	<li><a href="/photos/" title="Hayden White's photos">photos</a></li>
	<li><a href="/buttons" title="Hayden White's Button Collection">buttons</a></li>
	<li><a href="/anime" title="Hayden White's Anime List">anime</a></li>
        <li><a href="/kaarbs" title="kojiros automated arch ricing bash script">kaarbs</a></li>
        <li><a href="/undo" title="222">undo</a></li>
	<li><a href="/contact" title="email me!">contact</a></li>
	<li><a href="/donate" title="show your support!">donate</a></li>
      </ul></div>
		<div class="main">
	    {{ content }}
			</div>
</div>
</div><!-- /.container -->
			<footer>
	    <p><small><b>Unlicense 2023, Hayden White</b></small></p>
	    <ul>
	    <li><a href="https://undo222.bandcamp.com" target="_blank" rel="noopener noreferrer"><img src="/photos/footer/miku.gif" title="This site is Miku approved!" alt="This site is Miku Approved!"></a></li>
<li><a href="https://haydenwhite.bandcamp.com" target="_blank" rel="noopener noreferrer" title="white VHS bandcamp"><img alt="official bandcamp" src="/photos/footer/whiteVHS.gif" title="white VHS official bandcamp"></a></li>
	    <li><a href="https://cult9.xyz"><img src="https://cult9.xyz/cult9.gif" alt="CULT9"></a>
</li>
	    <li><img src="/photos/footer/google.gif" title="Fuck Off Google!"></li>
	    <li><img src="/photos/footer/privacy.gif" title="Internet Privacy Now!"></li>
  	    <li><img src="/photos/footer/sharing.gif" title="Sharing is caring!"></li>
	    <li><img src="/photos/footer/discord.gif" title="Discord Fucking Sucks"></li>
	    <li><img src="/photos/footer/phonechump.gif" title="Don't be a phone chump!"></li>
	    <li><img src="/photos/footer/bookmark.png" title="Bookmark this page now!"></li>
				</ul>
</div>
<div id="hotline-webring">
    <p style="font-size:150%"><a href="https://hotlinewebring.club/whitevhs/previous">←</a> <a href="https://hotlinewebring.club" target="_blank"><b>Hotline Webring</b> </a><a href="https://hotlinewebring.club/whitevhs/next">→</a></p>
</div>
<div id='tag-webring'>
    <script type="text/javascript" src="https://voicedrew.xyz/wr/onionring-variables.js"></script>
    <script type="text/javascript" src="https://voicedrew.xyz/wr/onionring-widget.js"></script>
</div>
<div id="geekring">
       <map name="geekringmap">
         <area shape="rect" coords="9,28,111,53" alt="Previous geekring site" href="http://geekring.net/site/332/previous">
         <area shape="rect" coords="248,28,350,53" alt="Random geekring site" href="http://geekring.net/site/332/random">
         <area shape="rect" coords="490,28,592,53" alt="Next geekring site" href="http://geekring.net/site/332/next">
         <area shape="rect" coords="465,6,566,22" alt="Main geekring site" href="http://geekring.net/">
     </map>
     <img src="http://geekring.net/banner/geek_1.jpg" alt="geekring.net nvigation" usemap="#geekringmap">
  </div>
			</footer>
		</body>
	</html>
