---
layout: default
---
<style>
body{
background-image:url("/photos/bg/post_background.jpg");
background-color:black;
}
li {
  color:white;
}
h1{
color:white;
text-align:center;
}
h2{
color:white;
text-align:center;
}
h3{
color:white;
text-align:center;
}
pre{
display:block;
}
code{
background:#242e3d;
line-height:1.75;
color:tan;
padding:5px;
border-radius: .6rem;
}
</style>
<div class="box">
  <article>
  <header>
<h1 style="text-align:center;">{{ page.title }}</h1>
  </header>
<hr>
<p style="color:white;text-align:center" class="meta">Published on {{ page.date | date_to_string }}</p><br>
<div class="post">
<script src="prism.js"></script>
{{content}}
  </article>
<br>
<img style="display:block;margin:auto"src="/photos/footer/no-ai-writing.png">
<br>
  <p style="text-align:center"><a href="/articles"><small><b>Back to posts</small></b></a></p>
<br><br>
<p style="text-align:center">Tagged 
      {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}</p>
</div>
</div>
<div class="mainwrapper">
