---
layout: default
---
 <head>
    <title>Posts with tag {{page.tag}} - whiteVHS</title>
  </head>
<style>
body{
background-image:url("/photos/bg/post_background.jpg");
background-color:black;
}
</style>
<div class="box">
 <h1 style="text-align:center;">Posts tagged with #{{page.tag}}</h1>
    <ul>
      {% for post in site.posts %}
      {% if post.tags contains page.tag %}
      <li><a class="post" href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
<br>
<p style="text-align:center;"><a href="/articles"><small><b>All articles</b></small></a> | <a href="/tags"><small><b>All tags</b></small></a></p>
</div>
