<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>{{ page.title }}</title>
		<meta name="description" content="Hayden White's personal site.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:image" content="/whiteVHS.gif">
    		<meta charset="utf-8">
		<link rel="shortcut icon" href="/marisainhat.gif" type="image/gif">
        <link rel="stylesheet" href="/css/test.css">
		<link rel="stylesheet" href="https://voicedrew.xyz/wr/onionring.css">
	</head>
<body>

<div class="headerwrapper">

<div class="header">
<h1 class="title"></h1>
</div>

<div class="nav">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/music">Music</a></li>
<li><a href="/articles">Posts</a></li>
<li><a href="/photos">Photos</a></li>
<li><a href="/buttons">Frens</a></li>
</ul>
</div>

</div>
<div class="mainwrapper">
{{ content }}
<footer>
	    <p><small><b>Unlicense 2023, Hayden White</b></small></p>
	    <ul>
	    <li><a href="https://undo222.bandcamp.com" target="_blank" rel="noopener noreferrer"><img src="/photos/footer/miku.gif" title="This site is Miku approved!" alt="This site is Miku Approved!"></a></li>
<li><a href="https://haydenwhite.bandcamp.com" target="_blank" rel="noopener noreferrer" title="white VHS bandcamp"><img alt="official bandcamp" src="/photos/footer/whiteVHS.gif" title="white VHS official bandcamp"></a></li>
	    <li><a href="https://cult9.xyz"><img src="https://cult9.xyz/cult9.gif" alt="CULT9"></a></li>
	    <li><img src="/photos/footer/google.gif" title="Fuck Off Google!"></li>
	    <li><img src="/photos/footer/privacy.gif" title="Internet Privacy Now!"></li>
  	    <li><img src="/photos/footer/sharing.gif" title="Sharing is caring!"></li>
	    <li><img src="/photos/footer/discord.gif" title="Discord Fucking Sucks"></li>
	    <li><img src="/photos/footer/phonechump.gif" title="Don't be a phone chump!"></li>
	    <li><img src="/photos/footer/bookmark.png" title="Bookmark this page now!"></li>
				</ul>

<div id="hotline-webring">
    <p style="font-size:150%;text-align:center;"><a style="color:lime;" href="https://hotlinewebring.club/whitevhs/previous">←</a> <a style="color:lime;" href="https://hotlinewebring.club" target="_blank"><b>Hotline Webring</b> </a><a style="color:lime;" href="https://hotlinewebring.club/whitevhs/next">→</a></p>
</div>
<div id="tag-webring">
    <script type="text/javascript" src="https://voicedrew.xyz/wr/onionring-variables.js"></script>
    <script type="text/javascript" src="https://voicedrew.xyz/wr/onionring-widget.js"></script>
</div>
<div id="geekring">
       <map name="geekringmap">
         <area shape="rect" coords="9,28,111,53" alt="Previous geekring site" href="http://geekring.net/site/NUMBER/previous">
         <area shape="rect" coords="248,28,350,53" alt="Random geekring site" href="http://geekring.net/site/NUMBER/random">
         <area shape="rect" coords="490,28,592,53" alt="Next geekring site" href="http://geekring.net/site/NUMBER/next">
         <area shape="rect" coords="465,6,566,22" alt="Main geekring site" href="http://geekring.net/">
     </map>
     <img src="http://geekring.net/banner/geek_1.jpg" alt="geekring.net nvigation" usemap="#geekringmap">
  </div>
    </footer></div>
<p id="credit"><a href="https://repth.neocities.org/index.html">©repth</a></p>
</body>
	</html>

