---
layout: photos
title: Hayden White's photo archive - 07/2019

---

<style>

    .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-small-gap {
	gap: 4px;
}

.bottonu img {
	width: 400px;
	height: 400px;
}

body {
    cursor: url('/default.gif'), default;
    background-image: url('/background.png')
}
</style>
<h2 class="subheaders" id="archive" style="text-align:center;">Photo Archive</h2>
<a href="/photos/archive/201906"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201908">Next >></a></p>
<p style="color:lime; text-align:center;">July 2019</p>
<div class="flex flex-small-gap bottonu">
<img src="/photos/2593.jpg" />
<img src="/photos/2594.jpg" />
<img src="/photos/2595.jpg" />
<img src="/photos/2596.jpg" />
<img src="/photos/2597.jpg" />
<img src="/photos/2598.jpg" />
<img src="/photos/2599.jpg" />
<img src="/photos/2600.jpg" />
<img src="/photos/2601.jpg" />
<img src="/photos/2602.jpg" />
</div>
<a href="/photos/archive/201906"><p style="text-align:center;"><< Prev</a> | <a href="/photos/archive/">Index</a> | <a href="/photos/archive/201908">Next >></a></p>

