---
layout: undo
title: 222
---
<style>
* {
  box-sizing: border-box;
}


body {
    cursor: url('/default.gif'), default;
    background-image: url("/photos/bg/undo_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #a2a2a2;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #fefe;
}

.btn.active {
  background-color: #aaf;
  color: black;
}

.imgHov {
  transition: 0.2s;
}

.imgHov:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.05);
}
</style>

<div class="mainwrapper">
<p style="color:white;text-align:center;font-size:300%;"><b><code>it's a secret</code><br>AVAILABLE NOW</b></p>
<iframe src="https://bandcamp.com/EmbeddedPlayer/album=2987390560/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless="" style="border: 0; height: 600px;"><a href="https://undo222.bandcamp.com/album/its-a-secret">it's a secret by UNDO</a></iframe>
  <h1 id="untitled">2 2 2</h1>
<iframe height="320" src="https://yewtu.be/embed/PAfWu6kpaKo"></iframe>
  <p style="color:violet;text-align:center;" id="art"><em>a digital dream</em>.</p>
  <p style="text-align:center;"><a href="https://music.whitevhs.xyz/undo/index.html" target="_blank" rel="noopener noreferrer">click here for the UNDO discography!!</a><br></p>
  <p style="text-align:center;"><small><em>i'm also on<br><a href="https://undo222.bandcamp.com" target="_blank" rel="noopener noreferrer">bandcamp</a> & <a href="https://soundcloud.com/undo222" target="_blank" rel="noopener noreferrer">soundcloud</a><br>but u should go <a href="https://music.whitevhs.xyz/undo/index.html">here</a> instead B^]</em></small></p>
  <button class="btn" onclick="one()">1 (2)</button>
  <button class="btn" onclick="two()">2 (2)</button>
  <button class="btn" onclick="four()">4 (2)</button>
</div>
  
<!-- Photo Grid -->
<div class="row"> 
  <div class="column" style="flex: 1 1 25%;">
    <a href="https://whitevhs.xyz/photos/undo/undo23-a.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo23-a.jpg" style="width:100%"></a>
    <a href="https://whitevhs.xyz/photos/undo/undo22-a.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-a.jpg" style="width:100%"></a>
    <a href="https://whitevhs.xyz/photos/undo/undo22-b.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-b.jpg" style="width:100%"></a>
    <a href="https://whitevhs.xyz/photos/undo/undo22-c.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-c.jpg" style="width:100%"></a>
    <a href="https://whitevhs.xyz/photos/undo/undo22-d.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-d.jpg" style="width:100%"></a>
    <a href="https://whitevhs.xyz/photos/undo/undo22-e.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-e.jpg" style="width:100%"></a>
    <a href="https://whitevhs.xyz/photos/undo/undo22-f.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-f.jpg" style="width:100%"></a>
  </div>
  <div class="column" style="flex: 1 1 25%;">
   <a href="https://whitevhs.xyz/photos/undo/undo23-b.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo23-b.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-g.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-g.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-h.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-h.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-i.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-i.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-j.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-j.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-k.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-k.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-l.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-l.jpg" style="width:100%"></a>
  </div>  
  <div class="column" style="flex: 1 1 25%;">
   <a href="https://whitevhs.xyz/photos/undo/undo23-c.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo23-c.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-m.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-m.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-n.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-n.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-o.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-o.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-p.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-p.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-q.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-q.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-r.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-r.jpg" style="width:100%"></a>
  </div>
  <div class="column" style="flex: 1 1 25%;">
   <a href="https://whitevhs.xyz/photos/undo/undo23-d.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo23-d.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-s.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-s.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-t.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-t.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-u.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-u.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-v.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-v.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-w.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-w.jpg" style="width:100%"></a>
   <a href="https://whitevhs.xyz/photos/undo/undo22-x.jpg" target="_blank"><img class="imgHov" src="/photos/undo/undo22-x.jpg" style="width:100%"></a>
  </div>
</div>

<script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// Full-width images
function one() {
    for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "85%";  // IE10
    elements[i].style.flex = "85%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "50%";  // IE10
    elements[i].style.flex = "50%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "25%";  // IE10
    elements[i].style.flex = "25%";
  }
}

// Add active class to the current button (highlight it)
var header = document.getElementById("myHeader");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
