<head>
		<title>{{ page.title }}</title>
		<meta name="description" content="Kojiro's Automated Arch Ricing Bash Script">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:image" content="https://whitevhs.xyz/whiteVHS.gif">
		<meta property="og:image:width" content="260">
		<meta property="og:image:height" content="165">
    <meta http-equiv="Refresh" content="0; url='https://kaarbs.xyz'" />
    		<meta charset="utf-8">
		<link rel="shortcut icon" href="/favicon.gif" type="image/gif">
		<link rel="stylesheet" href="/css/main.css"
	</head>
