---
layout: based
title: kojiros automated arch ricing bash script
---
<style>
.lsblue {
color: lightskyblue;
}
.lime {
color: lime;
}
.yellow {
color: yellow;
}
.centered {
display: block;
margin-left: auto;
margin-right: auto;
}
</style>
<div class="img-right"><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/a48ad3dc0-89cf68/knDTPCZnOvss/kAHg1nTwrYfsenrYND4qOpDkEcRhVdXzu6iKtFRM.png" width="50%"></div>
<div class="blurb">
  <h1><strong><a href="https://gitlab.com/whiteVHS/kaarbs" target="_blank" rel="noopener noreferrer">kaarbs</strong></a></h1>
  <h2><code><b>kojiros automated arch ricing bash script</b></code></h2>
  <hr>
  <p>An automated way of post-configuring an <a href="https://archlinux.org/download/" target="_blank" rel="noopener noreferrer">Arch Linux</a> system (tested using archinstall script + xorg profile). It pulls dotfiles from my <a href="https://gitlab.com/whiteVHS/dotfiles" target="_blank" rel="noopener noreferrer">personal repository</a>.<br>
There is also a <a href="https://gitlab.com/whiteVHS/kaarbs/blob/main/PACKAGES.md" target="_blank" rel="noopener noreferrer">complete list of packages</a> that this script gives you the choice of installing, if you'd like to check before running it.<br>
For more information, refer to the <a href="https://gitlab.com/whiteVHS/kaarbs/blob/main/docs/MANUAL.md" target="_blank" rel="noopener noreferrer">manual</a>.</p>
  <h1 id="prerequisites">Prerequisites</h1>
  <hr>
  <p>This script assumes the following: <br>
  &#x2022; You enabled the multilib repository.<br>
  &#x2022; You're using NetworkManager.<br>
  &#x2022; You chose Pipewire for your audio.</p>
    
  <h1 id="instructions">Instructions</h1>
  <hr>
    <p style="color:white">1. clone the repo + move the script to your home folder:</p>
    <p style="color:lime"><code>git clone https://gitlab.com/whiteVHS/kaarbs/ && mv kaarbs/kaarbs_*.sh kaarbs.sh</code></p>
    <p style="color:white">2. make the script executable:</p>
    <p style="color:lime"><code>chmod +x kaarbs.sh</code></p>
    <p style="color:white">(Optional) if you'd like to view the contents of the script before executing it:</p>
    <p style="color:lime"><code>cat kaarbs.sh | less</code></p>
    <p style="color:white">3. run the script:</p>
    <p style="color:lime"><code>./kaarbs.sh</code></p>
    <p>This script has been tested on a fresh Arch Linux install in QEMU-KVM<br>and on a Thinkpad T500.</p>
    <p id="screenshot"><small><b>a screenshot of the test.</b><br>(awesomeWM with my config/theme,ncmpcpp, btop and unimatrix)</small></p>
    <span class="centered"><a href="https://user-content.gitlab-static.net/4bfcba0b3520f9b950c022fefafa329cf03fad27/68747470733a2f2f757365722d696d616765732e67697468756275736572636f6e74656e742e636f6d2f3131313032313033332f3232353738303837302d30323164663539352d396366332d343761312d626663312d3966656365633962323765642e706e67" target="_blank" rel="noopener noreferrer"><img width=60% src="https://user-content.gitlab-static.net/4bfcba0b3520f9b950c022fefafa329cf03fad27/68747470733a2f2f757365722d696d616765732e67697468756275736572636f6e74656e742e636f6d2f3131313032313033332f3232353738303837302d30323164663539352d396366332d343761312d626663312d3966656365633962323765642e706e67"></a></span>
    <p>There is a <a href="https://gitlab.com/whiteVHS/kaarbs-openrc" target="_blank" rel="noopener noreferrer">systemd-free fork</a> of this script if you are using the OpenRC init system (or would prefer it).</p>
  <h1 id="post-script-tweaks">post-script tweaks</h1>
  <hr>
  <p>There's a couple of things you might want to do after using kaarbs:</p>
  <p>&#x2022; If you'd like to use the <a href="https://gitlab.com/whiteVHS/dotfiles/blob/main/lecture" target="_blank" rel="noopener noreferrer">custom sudo lecture</a>, use <span class="lime"><code>sudo visudo</code></span> and add these two lines:</p>
  <p style="color:yellow"><code>"Defaults lecture=always"  "Defaults lecture_file=~/lecture"</code></p>
  <p>&#x2022; If you installed virt-manager, you must edit your <span class="lsblue"><code>/etc/libvirt/libvirtd.conf</code></span> and uncomment:<br><span class="yellow"><code>"unix_sock_group"  "unix_sock_ro_perms"</code></span> and <span class="yellow"><code>"unix_sock_rw_perms"</code></span></p>
  <p>Then run: <span class="lime"><code>sudo usermod -aG libvirt $(whoami)</code></span> and reboot.</p>
  <p>Refer to the <a href="https://gitlab.com/whiteVHS/kaarbs/blob/main/docs/MANUAL.md" target="_blank" rel="noopener noreferrer">manual</a> for more information.</p>
  <h1 id="issues">Issues</h1>
  <hr>
  <p>If any issues with certain packages arise, they will be noted here.<br>
  &#x2022; Nothing to report here!</p>
  <h1 id="license">License</h1>
  <p>This script is free software licensed under the <a href="https://gitlab.com/whiteVHS/kaarbs/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">GNU General Public License v3.0</a></p>
    </div><!-- /.blurb -->
