---
layout: default
title: Hayden White's Articles
---
<style>
body{
    background-image: url("/photos/bg/post_background.jpg");
}
code{
color:pink;
}
</style>
<div class="box">
	<h3 class="subheaders"><ins>Articles</ins></h3>
	<p style="text-align:center;"><code><small><a href="/articles/atom.xml">RSS Feed</a> | <a href="/tags">Sort by Tags</a> | <a href="/microblog">Microblog</a></code></small></p>
	<ul class="posts">

	  {% for post in site.posts %}
	  {% if post.category == 'articles' %}
	    <li><span><small><code>{{ post.date | date_to_string }}</span></small></code> - <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endif %}
	  {% endfor %}
	</ul>
</div>
