---
title: Manga List - Himitsu desu!
layout: default
---
<style>
ul, li, th, td, table {
    color: white;
  }
table {
    width: 100%;
  }
table, th, td {
    border: 1px double aquamarine;
}
th {
    font-size:175%;
  }
td {
    font-size: 150%;
}
th, td {
    padding: 12px;
}
body{
	background-image:url("/photos/bg/manga_background.jpg");
	background-color:black;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
code{
	color:lightblue;
}
</style>
<div class="box">
<h1 class="subheaders">Manga List</h1>
  <p style="text-align:center;"><code>Last updated: Sep 28 2024</code></p>
  <br>
  <p style="text-align:center;"><small>Favorites are in no particular order. Ratings and info based on MyAnimeList rating system/database.<br>
  I also have an <a href="/anime">anime list</a>.</small></p>
  <br>
<p style="text-align:center;"><a href="/manga/#reading">Reading</a> | <a href="/manga/#completed">Completed</a> | <a href="/manga/#hold">On Hold</a> | <a href="/manga/#dropped">Dropped</a> | <a href="/manga/#plantoread">Plan to Read</a></p></div>
	<div class="box">
<h2 class="subheaders" id="resources"><b>Resources</b></h2>
<ul>
  <li>I use <a href="https://github.com/prsh11/manga-cli" target="_blank">manga-cli</a> or buy physical copies to read manga.</li>
  <li>If not, <a href="https://nyaa.si" target="_blank">nyaa</a> does the trick.</li>
  <li>Please avoid reading manga in a browser. For your own good ❤️</li>
</ul>
<h2 class="subheaders" id="favorites"><b>Favorites</b></h2>
  <ul>
    <li>Chainsaw Man</li>
    <li>Jujutsu Kaisen</li>
    <li>Komi Can't Communicate</li>
    <li>Blue Period</li>
    <li>Goodnight Punpun</li>
    <li>Ubunchu!</li>
  </ul>
	</div>
<br>
  <h1 id="reading"><b>Reading</b></h1>
<hr>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Chapters</th>
        <th>Volumes</th>
        </tr>
    </thead>
  <tbody>
<tr>
      <td>Blue Period</td>
      <td>25/-</td>
      <td>5/-</td>
      </tr>
<tr>
      <td>Chainsaw Man</td>
      <td>135/-</td>
      <td>11/-</td>
      </tr>
<tr>
      <td>Gintama</td>
      <td>142/709</td>
      <td>16/77</td>
      </tr>
<tr>
      <td>Jujutsu Kaisen</td>
      <td>258/-</td>
      <td>25/-</td>
      </tr>
<tr>
      <td>Kaguya-sama: Love is War</td>
      <td>120/281</td>
      <td>11/28</td>
      </tr>
<tr>
      <td>Komi Can't Communicate</td>
      <td>223/-</td>
      <td>16/-</td>
      </tr>
<tr>
      <td>Those Obnoxious Aliens (Urusei Yatsura)</td>
      <td>103/366</td>
      <td>10/34</td>
      </tr>
<tr>
      <td>Yotsuba&amp;!</td>
      <td>52/-</td>
      <td>7/-</td>
      </tr>
    </tbody>
</table>
<br>
<h1 id="completed"><b>Completed</b>  <small><code>Total: 23</code></small></h1>
<hr>
<table>
<thead>
	<tr>
	<th>Title</th>
	<th>Chapters</th>
	<th>Volumes</th>
	<th>Rating</th>
	</tr>
</thead>
	<tbody>
<tr>
	<td>A Girl on the Shore</td>
	<td>20</td>
	<td>2</td>
	<td>4</td>
	</tr>
<tr>
	<td>Burn the Witch</td>
	<td>1</td>
	<td>-</td>
	<td>6</td>
	</tr>
<tr>
	<td>Chrno Crusade</td>
	<td>59</td>
	<td>8</td>
	<td>8</td>
	</tr>
<tr>
	<td>Devil Summoner: Kuzunoha Raidou Tai Kodoku no Marebito</td>
	<td>34</td>
	<td>6</td>
	<td>8</td>
	</tr>
<tr>
	<td>Goodnight Punpun</td>
	<td>147</td>
	<td>13</td>
	<td>9</td>
	</tr>
<tr>
	<td>Gyo: The Death-Stench Creeps</td>
	<td>21</td>
	<td>2</td>
	<td>7</td>
	</tr>
<tr>
	<td>JoJo's Bizarre Adventure Part 7: Steel Ball Run</td>
	<td>96</td>
	<td>24</td>
	<td>9</td>
	</tr>
<tr>
	<td>Jujutsu Kaisen 0</td>
	<td>4</td>
	<td>1</td>
	<td>8</td>
	</tr>
<tr>
	<td>Look Back</td>
	<td>-</td>
	<td>1</td>
	<td>8</td>
	</tr>
<tr>
	<td>Lucifer and the Biscuit Hammer</td>
	<td>65</td>
	<td>10</td>
	<td>7</td>
	</tr>
<tr>
	<td>Not Simple</td>
	<td>14</td>
	<td>1</td>
	<td>7</td>
	</tr>
<tr>
	<td>Puella Magi Madoka★Magica</td>
	<td>12</td>
	<td>3</td>
	<td>8</td>
	</tr>
<tr>
	<td>Ruri Dragon</td>
	<td>1</td>
	<td>-</td>
	<td>8</td>
	</tr>
<tr>
	<td>The Legend of Zelda: A Link to the Past</td>
	<td>4</td>
	<td>1</td>
	<td>6</td>
	</tr>
<tr>
	<td>The Legend of Zelda: Four Swords</td>
	<td>12</td>
	<td>2</td>
	<td>6</td>
	</tr>
<tr>
	<td>The Legend of Zelda: Majora's Mask</td>
	<td>10</td>
	<td>1</td>
	<td>5</td>
	</tr>
<tr>
	<td>The Legend of Zelda: Ocarina of Time</td>
	<td>18</td>
	<td>2</td>
	<td>6</td>
	</tr>
<tr>
	<td>The Legend of Zelda: Oracle of Ages</td>
	<td>11</td>
	<td>1</td>
	<td>6</td>
	</tr>
<tr>
	<td>The Legend of Zelda: Oracle of Seasons</td>
	<td>10</td>
	<td>1</td>
	<td>5</td>
	</tr>
<tr>
	<td>The Legend of Zelda: The Minish Cap</td>
	<td>6</td>
	<td>1</td>
	<td>5</td>
	</tr>
<tr>
	<td>Tomie</td>
	<td>20</td>
	<td>3</td>
	<td>8</td>
	</tr>
<tr>
	<td>Uzumaki Tokubetsu-hen: Ginga</td>
	<td>1</td>
	<td>-</td>
	<td>8</td>
	</tr>
<tr>
	<td>Uzumaki: Spiral into Horror</td>
	<td>19</td>
	<td>2</td>
	<td>9</td>
	</tr>
</tbody>
</table>
<br>
<h1 id="hold"><b>On Hold</b></h1>
<hr>
<table>
	<thead>
	<tr>
	<th>Title</th>
	<th>Chapters</th>
	<th>Volumes</th>
	</tr>
	</thead>
	<tbody>
<tr>
	<td>Akira</td>
	<td>5/120</td>
	<td>1/6</td>
	</tr>
<tr>
	<td>Fragtime</td>
	<td>5/18</td>
	<td>-/2</td>
	</tr>
<tr>
	<td>Fruits Basket</td>
	<td>6/136</td>
	<td>1/23</td>
	</tr>
<tr>
	<td>Noragami: Stray God</td>
	<td>7/-</td>
	<td>2/-</td>
	</tr>
<tr>
	<td>Ubunchu!</td>
	<td>11/-</td>
	<td>-/1</td>
	</tr>	
	</tbody>
</table>
<br>
<h1 id="dropped"><b>Dropped</b></h1>
<hr>
<table>
	<thead>
	<tr>
	<th>Title</th>
	<th>Chapters</th>
	<th>Volumes</th>
	</tr>
	</thead>
	<tbody>
<tr>
	<td>Edens Zero</td>
	<td>13/-</td>
	<td>2/-</td>
	</tr>
	</tbody>
</table>
<br>
<h1 id="plantoread"><b>Plan to Read</b>  <small><code>Total: 104</code></small></h1>
<hr>
<table>
	<thead>
	<tr>
	<th>Title</th>
	<th>Volumes</th>
	</tr>
	</thead>
	<tbody>
<tr>
	<td>20th Century Boys</td>
	<td>22</td>
	</tr>
<tr>
	<td>3x3 Eyes</td>
	<td>40</td>
	</tr>
<tr>
	<td>A Silent Voice</td>
	<td>7</td>
	</tr>
<tr>
	<td>Abara</td>
	<td>2</td>
	</tr>
<tr>
	<td>Aiki</td>
	<td>14</td>
	</tr>
<tr>
	<td>Baoh</td>
	<td>2</td>
	</tr>
<tr>
	<td>Bastard</td>
	<td>5</td>
	</tr>
<tr>
	<td>Beelzebub</td>
	<td>28</td>
	</tr>
<tr>
	<td>Berserk</td>
	<td>-</td>
	</tr>
<tr>
	<td>BioMega</td>
	<td>6</td>
	</tr>
<tr>
	<td>Blade of the Immortal</td>
	<td>30</td>
	</tr>
<tr>
	<td>Blame!</td>
	<td>10</td>
	</tr>
<tr>
	<td>Blood on the Tracks</td>
	<td>-</td>
	</tr>
<tr>
	<td>Blue Exorcist</td>
	<td>-</td>
	</tr>
<tr>
	<td>Blue Lock</td>
	<td>-</td>
	</tr>
<tr>
	<td>Boy's Abyss</td>
	<td>-</td>
	</tr>
<tr>
	<td>Burn the Witch</td>
	<td>-</td>
	</tr>
<tr>
	<td>Choujin X</td>
	<td>-</td>
	</tr>
<tr>
	<td>Creature!</td>
	<td>21</td>
	</tr>
<tr>
	<td>Crying Freeman</td>
	<td>9</td>
	</tr>
<tr>
	<td>Dai Dark</td>
	<td>-</td>
	</tr>
<tr>
	<td>Dead Dead Demon's Dededede Destruction</td>
	<td>12</td>
	</tr>
<tr>
	<td>Deadman Wonderland</td>
	<td>13</td>
	</tr>
<tr>
	<td>Dendrobates</td>
	<td>6</td>
	</tr>
<tr>
	<td>Die Wergelder</td>
	<td>-</td>
	</tr>
<tr>
	<td>Dimension Movement of Nazca</td>
	<td>2</td>
	</tr>
<tr>
	<td>Don't Blush, Sekime-san!</td>
	<td>3</td>
	</tr>
<tr>
	<td>Dorohedoro</td>
	<td>23</td>
	</tr>
<tr>
	<td>Fragments of Horror</td>
	<td>1</td>
	</tr>
<tr>
	<td>Fruits Basket: Another</td>
	<td>4</td>
	</tr>
<tr>
	<td>Fuan no Tane</td>
	<td>3</td>
	</tr>
<tr>
	<td>Gantz</td>
	<td>37</td>
	</tr>
<tr>
	<td>Gigant</td>
	<td>10</td>
	</tr>
<tr>
	<td>Goodbye, Eri</td>
	<td>1</td>
	</tr>
<tr>
	<td>Grand Blue Dreaming</td>
	<td>-</td>
	</tr>
<tr>
	<td>GTO: 14 Days in Shonan</td>
	<td>9</td>
	</tr>
<tr>
	<td>GTO: Great Teacher Onizuka</td>
	<td>25</td>
	</tr>
<tr>
	<td>Gunsmith Cats</td>
	<td>8</td>
	</tr>
<tr>
	<td>Happy Sugar Life</td>
	<td>11</td>
	</tr>
<tr>
	<td>Hell's Paradise: Jigokuraku</td>
	<td>13</td>
	</tr>
<tr>
	<td>Hi Score Girl</td>
	<td>10</td>
	</tr>
<tr>
	<td>Highschool of the Dead</td>
	<td>7</td>
	</tr>
<tr>
	<td>Himouto! Umaru-chan</td>
	<td>12</td>
	</tr>
<tr>
	<td>I Want to Eat Your Pancreas</td>
	<td>2</td>
	</tr>
<tr>
	<td>I'm Still Thinking About You.</td>
	<td>3</td>
	</tr>
<tr>
	<td>Jagaaaaaan</td>
	<td>14</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure Part 1: Phantom Blood</td>
	<td>5</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure Part 2: Battle Tendency</td>
	<td>7</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure Part 3: Stardust Crusaders</td>
	<td>16</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure Part 4: Diamond Is Unbreakable</td>
	<td>18</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure Part 5: Golden Wind</td>
	<td>17</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure Part 6: Stone Ocean</td>
	<td>17</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure Part 8: JoJolion</td>
	<td>27</td>
	</tr>
<tr>
	<td>Jojo's Bizarre Adventure Part 9: The JoJoLands</td>
	<td>-</td>
	</tr>
<tr>
	<td>Juujika no Rokunin</td>
	<td>-</td>
	</tr>
<tr>
	<td>Knights of the Zodiac</td>
	<td>28</td>
	</tr>
<tr>
	<td>Konosuba: God's Blessing on This Wonderful World!</td>
	<td>17</td>
	</tr>
<tr>
	<td>Kubo Won't Let Me Be Invisible</td>
	<td>12</td>
	</tr>
<tr>
	<td>LifE</td>
	<td>3</td>
	</tr>
<tr>
	<td>Life Lessons with Uramichi Oniisan</td>
	<td>-</td>
	</tr>
<tr>
	<td>Magen Senki: Cyber Momotarou</td>
	<td>1</td>
	</tr>
<tr>
	<td>Megami Ibunroku: Persona</td>
	<td>8</td>
	</tr>
<tr>
	<td>Mieruko-chan</td>
	<td>-</td>
	</tr>
<tr>
	<td>Monster</td>
	<td>18</td>
	</tr>
<tr>
	<td>My Broken Mariko</td>
	<td>1</td>
	</tr>
<tr>
	<td>Nanokakan Shokudou</td>
	<td>-</td>
	</tr>
<tr>
	<td>No Longer Human</td>
	<td>3</td>
	</tr>
<tr>
	<td>Noragami: Stray Stories</td>
	<td>-</td>
	</tr>
<tr>
	<td>O-Parts Hunter</td>
	<td>19</td>
	</tr>
<tr>
	<td>orange</td>
	<td>7</td>
	</tr>
<tr>
	<td>Orochi</td>
	<td>6</td>
	</tr>
<tr>
	<td>Parasyte</td>
	<td>10</td>
	</tr>
<tr>
	<td>Persona 3</td>
	<td>11</td>
	</tr>
<tr>
	<td>Persona 5</td>
	<td>-</td>
	</tr>
<tr>
	<td>Planetes</td>
	<td>4</td>
	</tr>
<tr>
	<td>Portus</td>
	<td>1</td>
	</tr>
<tr>
	<td>PTSD Radio</td>
	<td>-</td>
	</tr>
<tr>
	<td>Record of Ragnarok</td>
	<td>-</td>
	</tr>
<tr>
	<td>Rosario+Vampire</td>
	<td>10</td>
	</tr>
<tr>
	<td>Saiki Kusuo no Ψ-nan</td>
	<td>26</td>
	</tr>
<tr>
	<td>Sakamoto Days</td>
	<td>-</td>
	</tr>
<tr>
	<td>Sensor</td>
	<td>1</td>
	</tr>
<tr>
	<td>Shin Megami Tensei</td>
	<td>4</td>
	</tr>
<tr>
	<td>Shin Megami Tensei III: Nocturne - Konton</td>
	<td>1</td>
	</tr>
<tr>
	<td>Shin Megami Tensei: If... Gakuen no Akuma Tsukai</td>
	<td>1</td>
	</tr>
<tr>
	<td>Solanin</td>
	<td>2</td>
	</tr>
<tr>
	<td>Solo Leveling</td>
	<td>-</td>
	</tr>
<tr>
	<td>Soul Eater</td>
	<td>25</td>
	</tr>
<tr>
	<td>Suiiki</td>
	<td>2</td>
	</tr>
<tr>
	<td>Sun-Ken Rock</td>
	<td>25</td>
	</tr>
<tr>
	<td>Tales of Berseria</td>
	<td>3</td>
	</tr>
<tr>
	<td>The Climber</td>
	<td>17</td>
	</tr>
<tr>
	<td>The Drifting Classroom</td>
	<td>11</td>
	</tr>
<tr>
	<td>The Flowers of Evil</td>
	<td>11</td>
	</tr>
<tr>
	<td>The Ghost in the Shell</td>
	<td>1</td>
	</tr>
<tr>
	<td>The Legend of Zelda: Twilight Princess</td>
	<td>11</td>
	</tr>
<tr>
	<td>Tokyo Ghoul</td>
	<td>14</td>
	</tr>
<tr>
	<td>Tokyo Mew Mew</td>
	<td>7</td>
	</tr>
<tr>
	<td>Tokyo Revengers</td>
	<td>31</td>
	</tr>
<tr>
	<td>Trigun Maximum</td>
	<td>14</td>
	</tr>
<tr>
	<td>What a Wonderful World!</td>
	<td>2</td>
	</tr>
<tr>
	<td>Yu Yu Hakusho</td>
	<td>19</td>
	</tr>
<tr>
	<td>Zatch Bell!</td>
	<td>33</td>
	</tr>
</tbody>
</table>
